@rendermode InteractiveWebAssembly
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.CityPlanner.Abstractions
@using Ingweland.Fog.Application.Client.Web.CityPlanner.Stats
@using Ingweland.Fog.Dtos.Hoh.City
@using Microsoft.Extensions.Localization
@implements IDisposable
@inject ICityPlanner CityPlanner
@inject IStringLocalizer<FogResource> Loc
@inject ICommandManager CommandManager
@inject ICityPlannerCommandFactory CommandFactory
<div class="fog-container component-root">
    <div class="age-label" style="background-color: @Building.Age?.Color">@Building.Age?.Name</div>
    <div class="header-container">
        @if (Editable)
        {
            <span class="entity-title">@Building.Name</span>
            <BuildingLevelSelectorComponent Levels="@Building.Levels" LevelChanged="OnLevelChanged"
                                            SelectedLevel="@Building.Level"/>
        }
        else
        {
            <span class="entity-title"> @($"{Building.Name} {Loc[FogResource.Hoh_Lvl]} {Building.Level}")</span>
        }

    </div>
    <div class="main-container">
        <BuildingInfoComponent Items="@Building.InfoItems"/>
        <MudCheckBox Value="@Building.IsUpgrading" T="bool" ValueChanged="@ChangeUpgradeState" Disabled="@(!Editable)">
            <span class="checkbox-label">@Loc[FogResource.CityPlanner_CityMapEntity_IsUpgrading]</span>
        </MudCheckBox>
        @if (Building.IsLockable)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToggleEntityLockState"
                       Style="margin-bottom: 16px" Disabled="@(!Editable)">
                @(Building.IsLocked ? Loc[FogResource.CityPlanner_CityMapEntity_Unlock] : Loc[FogResource.CityPlanner_CityMapEntity_Lock])
            </MudButton>
        }
        @if (Building.ProductionComponent != null)
        {
            <ProductionComponent Data="@Building.ProductionComponent" ProductClicked="OnProductClicked"
                                 Editable="@Editable"/>
            @if (Building.ProductionComponent.Cost.Count > 0)
            {
                <CityProductionStatsComponent Items="@Building.ProductionComponent.Cost"
                                              Title="@Loc[FogResource.CityPlanner_ProductionCost]"/>
            }
        }
        @* @if (Building.CustomizationComponent != null) *@
        @* { *@
        @*     <CustomizationComponent Data="@Building.CustomizationComponent" ItemChanged="OnCustomizationItemChanged"/> *@
        @* } *@
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        CityPlanner.CityMapState.StateChanged += CityMapStateOnStateChanged;
    }

    private void CityMapStateOnStateChanged()
    {
        StateHasChanged();
    }

    [Parameter]
    public CityMapEntityViewModel Building { get; set; } = null!;

    [Parameter]
    public bool Editable { get; set; } = true;

    private void OnLevelChanged(int level)
    {
        if (CityPlanner.CityMapState.SelectedCityMapEntity == null)
        {
            return;
        }

        var cmd = CommandFactory.CreateChangeEntityLevelCommand(CityPlanner.CityMapState.SelectedCityMapEntity, level);
        CommandManager.ExecuteCommand(cmd);
    }

    private void OnProductClicked(string productId)
    {
        CityPlanner.UpdateProduct(productId);
    }

    public void Dispose()
    {
        CityPlanner.CityMapState.StateChanged -= CityMapStateOnStateChanged;
    }

    private void OnCustomizationItemChanged(BuildingCustomizationDto item)
    {
        CityPlanner.UpdateCustomization(item);
    }

    private void ToggleEntityLockState()
    {
        if (CityPlanner.CityMapState.SelectedCityMapEntity == null)
        {
            return;
        }

        var cmd = CommandFactory.CreateToggleEntityLockStateCommand(CityPlanner.CityMapState.SelectedCityMapEntity.Id);
        CommandManager.ExecuteCommand(cmd);
    }

    private void ChangeUpgradeState(bool value)
    {
        if (CityPlanner.CityMapState.SelectedCityMapEntity == null)
        {
            return;
        }

        var cmd = CommandFactory.CreateChangeEntityUpgradeStateCommand(CityPlanner.CityMapState.SelectedCityMapEntity.Id, value);
        CommandManager.ExecuteCommand(cmd);
    }

}