@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.CityPlanner.Stats
@using Ingweland.Fog.Application.Client.Web.Providers.Interfaces
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
@inject IAssetUrlProvider AssetUrlProvider
<div class="component-root">
    <StatsSectionHeader Label="@_title" OnClick="@OnHeaderClick"/>
    <MudCollapse Expanded="_expanded">
        <table class="table">
            <thead>
            <tr>
                <th/>
                <th><img src="@AssetUrlProvider.GetHohIconUrl("icon_storage")" class="resource-icon"/></th>
                <th>@Loc[FogResource.Common_1h]</th>
                <th>@Loc[FogResource.Common_24hrs]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Items)
            {
                <tr class="user-select-none">
                    <td><img src="@item.IconUrl" class="resource-icon"/></td>
                    <td class="production-label">@item.Default</td>
                    <td class="production-label">@item.OneHour</td>
                    <td class="production-label">@item.OneDay</td>
                </tr>
            }
            </tbody>
        </table>
    </MudCollapse>
</div>

@code {

    [Parameter][EditorRequired]
    public required IReadOnlyCollection<TimedProductionValuesViewModel> Items { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    private string _title = string.Empty;

    bool _expanded = true;

    protected override void OnParametersSet()
    {
        _title = string.IsNullOrWhiteSpace(Title) ? Loc[FogResource.CityPlanner_Production] : Title;
    }

    private void OnHeaderClick()
    {
        _expanded = !_expanded;
    }

}