@attribute [Route(FogUrlBuilder.PageRoutes.ALLIANCE_TEMPLATE)]
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.Constants
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@using Size = MudBlazor.Size
@using ValueType = Syncfusion.Blazor.Charts.ValueType
@inherits StatsHubPageBase
@if (IsInitialized && _alliance != null)
{
    <div class="page-container">
        <AdSenseComponent AdSlot="9442418621" AdClass="ads-display-responsive-horizontal"/>
        <div class="fog-container info-container">
            <div class="avatar-container">
                <div class="avatar">
                    <img class="avatar-background" src="@_alliance.Alliance.Banner.CrestUrl"/>
                    <img class="avatar-icon" src="@_alliance.Alliance.Banner.IconUrl"/>
                </div>
                @if (_alliance.Alliance.IsDeleted)
                {
                    <span class="deleted-label">@Loc[FogResource.Common_Deleted]</span>
                }
            </div>
            <div class="details">
                <div>
                    <span class="label">@Loc[FogResource.StatsHub_NameSearchField_Label]: </span>
                    "@_alliance.Alliance.Name"
                </div>
                @if (_alliance.Alliance.RankingPoints > 0)
                {
                    <div>
                        <span class="label">@Loc[FogResource.StatsHub_Player_RankingPoints]: </span>
                        @_alliance.Alliance.RankingPoints
                    </div>
                }
                @if (_alliance.Alliance.Rank > 0)
                {
                    <div>
                        <span class="label">@Loc[FogResource.StatsHub_Player_Rank]: </span>
                        @_alliance.Alliance.Rank
                    </div>
                }
                <div>
                    <span class="label">@Loc[FogResource.StatsHub_Player_World]: </span>
                    @_alliance.Alliance.WorldId
                </div>
            </div>
        </div>

        @if (_alliance.CurrentMembers.Count > 0)
        {
            <div class="fog-container section-container">
                <div class="current-members-header-container">
                    <span class="section-title">@Loc[FogResource.StatsHub_Alliance_CurrentMembers]</span>
                    <MudToggleIconButton @bind-Toggled="@_showLastSeenOn"
                                         Icon="@Icons.Material.Filled.VisibilityOff"
                                         ToggledIcon="@Icons.Material.Filled.Visibility"
                                         Color="Color.Inherit"/>
                </div>
                <div class="members-container">
                    @foreach (var member in _alliance.CurrentMembers)
                    {
                        <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Player(member.PlayerId)">
                            <AllianceMemberListItemComponent Member="@member" ShowLastSeenOn="@_showLastSeenOn"/>
                        </a>
                    }
                </div>
            </div>
        }

        @if (_canShowChart)
        {
            <ExpandableContainer Title="@Loc[FogResource.StatsHub_Player_RankingPoints]"
                                 IsLoading="@_rankingsAreLoading"
                                 ExpandedChanged="@ToggleRankingChart">
                <SfChart Focusable="false" Height="300">
                    <ChartArea>
                        <ChartAreaBorder Width="0"/>
                    </ChartArea>
                    <ChartMargin Top="12"/>
                    <ChartPrimaryXAxis IntervalType="IntervalType.Days" Format="dd/MM"
                                       ValueType="ValueType.DateTime">
                        <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                        <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                             Color="var(--fog-text-color)"/>
                        <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                        <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                    </ChartPrimaryXAxis>
                    <ChartPrimaryYAxis RangePadding="ChartRangePadding.Round">
                        <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                        <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                             Color="var(--fog-text-color)"/>
                        <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                        <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                    </ChartPrimaryYAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@_rankings" XName="Date" YName="Value"
                                     Type="ChartSeriesType.Line" Fill="var(--fog-chart-line-color)">
                            <ChartEmptyPointSettings Mode="EmptyPointMode.Drop"/>
                            <ChartSeriesAnimation Enable="false"/>
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>
            </ExpandableContainer>
        }

        <ExpandableContainer Title="@Loc[FogResource.StatsHub_Alliance_AthRanking]"
                             IsLoading="@_athRankingsAreLoading"
                             ExpandedChanged="@ToggleAthRankingsContainer">
            @if (_athRankings != null)
            {
                <div class="ath-ranking-items-container">
                    @foreach (var r in _athRankings)
                    {
                        <AllianceAthRankingComponent Ranking="@r"/>
                    }
                </div>
            }
        </ExpandableContainer>

        <ExpandableContainer Title="@Loc[FogResource.StatsHub_Alliance_WoaRanking]"
                             IsLoading="@_woaRankingsAreLoading"
                             ExpandedChanged="@ToggleWoaRankingsContainer">
            @if (_woaRankings != null)
            {
                <div class="ath-ranking-items-container">
                    @foreach (var r in _woaRankings)
                    {
                        <AllianceWoaRankingComponent Ranking="@r"/>
                    }
                </div>
            }
        </ExpandableContainer>

        <div class="fog-container section-container">
            <span class="section-title">@Loc[FogResource.StatsHub_Player_Names]</span>
            <MudTimeline TimelinePosition="TimelinePosition.Start">
                @foreach (var name in _alliance.Names)
                {
                    <MudTimelineItem Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">
                        <p class="preserve-whitespace">"@name.Value"</p>
                        <p class="timeline-date">@name.Date.ToString("d")</p>
                    </MudTimelineItem>
                }
            </MudTimeline>
        </div>
        <AdSenseComponent AdSlot="9404993245" AdFormat="@AdSenseConstants.FORMAT_MULTIPLEX"
                          AdClass="ads-multiflex" Style="margin-top: 12px;"/>
    </div>
}
else
{
    <LoadingIndicator/>
}
