@attribute [Route(FogUrlBuilder.PageRoutes.PLAYER_PROFILE_TEMPLATE)]
@using System.Globalization
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.Constants
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@using Size = MudBlazor.Size
@using ValueType = Syncfusion.Blazor.Charts.ValueType
@inherits StatsHubPageBase
@if (IsInitialized && _player != null)
{
    <div class="page-container">
        <AdSenseComponent AdSlot="9442418621" AdClass="ads-display-responsive-horizontal"/>
        <PlayerInfoComponent Player="@_player.Player" OnAllianceClicked="OnPlayerInfoAllianceClicked"/>
        <div class="fog-container section-container actions-container">
            <div>
                <MudDatePicker Label="@Loc[FogResource.StatsHub_Player_CitySnapshotDate]" @bind-Date="_citySnapshotDate"
                               Culture="@CultureInfo.CurrentUICulture" ShowToolbar="false"
                               MinDate="@(new DateTime(2025, 7, 1))" Disabled="@_fetchingCity"
                               IsDateDisabledFunc="@((DateTime dt) => !_player.CitySnapshotDays.Contains(dt))"/>
            </div>
            <MudButton OnClick="@VisitCity" Variant="Variant.Filled" Color="Color.Primary" Disabled="@_fetchingCity"
                       EndIcon="@Icons.Material.Filled.FlightTakeoff" IconColor="Color.Inherit">
                @if (_fetchingCity)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">@Loc[FogResource.StatsHub_Player_Visit]</MudText>
                }
                else
                {
                    <MudText>@Loc[FogResource.StatsHub_Player_Visit]</MudText>
                }
            </MudButton>
            <MudButton OnClick="@ShowCityStats" Variant="Variant.Filled" Color="Color.Primary" Disabled="@_fetchingCity"
                       EndIcon="@Icons.Material.Filled.Analytics" IconColor="Color.Inherit">
                @if (_fetchingCity)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">@Loc[FogResource.StatsHub_Player_ViewCityStats]</MudText>
                }
                else
                {
                    <MudText>@Loc[FogResource.StatsHub_Player_ViewCityStats]</MudText>
                }
            </MudButton>

            @if (_player.HasPvpBattles)
            {
                <MudButton OnClick="@NavigateToBattlesScreen" Variant="Variant.Filled" Color="Color.Primary"
                           Disabled="@_fetchingCity">@Loc[FogResource.StatsHub_Player_PvpBattles]</MudButton>
            }
        </div>
        @if (_player.TreasureHuntDifficulty != null)
        {
            <div class="fog-container section-container" style="align-items: flex-start;">
                <TreasureHuntDifficultyComponent MaxPoints="@_player.TreasureHuntMaxPoints"
                                                 Difficulty="@_player.TreasureHuntDifficulty"/>
            </div>
        }

        @if (_player.Squads.Count > 0)
        {
            <div class="fog-container section-container">
                <span class="section-title">@Loc[FogResource.StatsHub_Player_TopHeroes]</span>
                <div class="top-heroes-container">
                    @foreach (var squad in _player.Squads)
                    {
                        <ProfileSquadComponent HeroProfile="@squad" HasShadow="true"
                                               OnClick="@OnProfileSquadClicked"></ProfileSquadComponent>
                    }
                </div>
            </div>
        }

        @if (_canShowChart)
        {
            <ExpandableContainer Title="@Loc[FogResource.StatsHub_Player_RankingPoints]"
                                 IsLoading="@_rankingsAreLoading"
                                 ExpandedChanged="@ToggleRankingChart">
                <SfChart Focusable="false" Height="300">
                    <ChartArea>
                        <ChartAreaBorder Width="0"/>
                    </ChartArea>
                    <ChartMargin Top="12"/>
                    <ChartPrimaryXAxis IntervalType="IntervalType.Days" Format="dd/MM"
                                       ValueType="ValueType.DateTime">
                        <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                        <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                             Color="var(--fog-text-color)"/>
                        <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                        <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                    </ChartPrimaryXAxis>
                    <ChartPrimaryYAxis RangePadding="ChartRangePadding.Round">
                        <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                        <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                             Color="var(--fog-text-color)"/>
                        <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                        <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                    </ChartPrimaryYAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@_rankings" XName="Date" YName="Value"
                                     Type="ChartSeriesType.Line" Fill="var(--fog-chart-line-color)">
                            <ChartEmptyPointSettings Mode="EmptyPointMode.Drop"/>
                            <ChartSeriesAnimation Enable="false"/>
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>

            </ExpandableContainer>

            <ExpandableContainer Title="@Loc[FogResource.StatsHub_Player_PvpRanking]"
                                 IsLoading="@_pvpRankingsAreLoading"
                                 ExpandedChanged="@TogglePvpChart">
                <SfChart Focusable="false" Height="300">
                    <ChartArea>
                        <ChartAreaBorder Width="0"/>
                    </ChartArea>

                    <ChartMargin Top="12"/>

                    <ChartEvents OnAxisLabelRender="AxisLabelEvent"/>

                    <ChartPrimaryXAxis IntervalType="IntervalType.Days"
                                       Minimum="@_minPvpRankingsChartDate"
                                       Maximum="@_maxPvpRankingsChartDate"
                                       ValueType="ValueType.DateTime"
                                       Format="dd/MM">
                        <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                        <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                             Color="var(--fog-text-color)"/>
                        <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                        <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                    </ChartPrimaryXAxis>

                    <ChartPrimaryYAxis
                        Minimum="@_minPvpTier"
                        Maximum="@_maxPvpTier"
                        Interval="1">
                        <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                        <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                             Color="var(--fog-text-color)"/>
                        <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                        <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                    </ChartPrimaryYAxis>

                    <ChartSeriesCollection>
                        <ChartSeries
                            DataSource="@_pvpRankings"
                            XName="CollectedAt"
                            YName="Tier"
                            Type="ChartSeriesType.Scatter">
                            <ChartEmptyPointSettings Mode="EmptyPointMode.Drop"/>
                            <ChartSeriesAnimation Enable="false"/>
                            <ChartMarker Height="7" Width="7" Fill="var(--fog-chart-line-color)"/>
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>
            </ExpandableContainer>
        }

        <ExpandableContainer Title="@Loc[FogResource.StatsHub_Player_AthRanking]"
                             IsLoading="@_athRankingsAreLoading" IsEmpty="@(_athRankings is {Count: 0})"
                             ExpandedChanged="@ToggleAthRankingsContainer">
            @if (_athRankings != null)
            {
                <div class="ath-ranking-items-container">
                    @foreach (var r in _athRankings)
                    {
                        <PlayerAthRankingComponent Ranking="@r"/>
                    }
                </div>
            }
        </ExpandableContainer>

        <ExpandableContainer Title="@Loc[FogResource.StatsHub_Player_WoaStats]" HasHorizontalPadding="false"
                             IsLoading="@_woaStatsAreLoading" IsEmpty="@(_woaStats is {Count: 0})"
                             ExpandedChanged="@ToggleWoaStatsContainer">
            @if (_woaStats != null)
            {
                <WoaPlayerStatsComponent Stats="@_woaStats"/>
            }
        </ExpandableContainer>

        <ExpandableContainer Title="@Loc[FogResource.StatsHub_Player_WonderLevels]"
                             IsLoading="@_wonderRankingsAreLoading" IsEmpty="@(_wonderRankings is {Count: 0})"
                             ExpandedChanged="@ToggleWonderRankingsContainer">
            @if (_wonderRankings != null)
            {
                <div class="wonder-ranking-items-container">
                    @foreach (var r in _wonderRankings)
                    {
                        <WonderRankingComponent Ranking="@r"/>
                    }
                </div>
            }
        </ExpandableContainer>

        @if (_player.CurrentAlliance != null || _player.PreviousAlliances.Count > 0)
        {
            <div class="fog-container section-container">
                <span class="section-title">@Loc[FogResource.StatsHub_Player_Alliances]</span>
                <div class="alliances-container">
                    @if (_player.CurrentAlliance != null)
                    {
                        <a href="@FogUrlBuilder.PageRoutes.Alliance(_player.CurrentAlliance.Id)"
                           class="anchor-inherited-style"
                           @onclick="() => OnAllianceClicked(_player.CurrentAlliance.Id)">
                            <AllianceListItemComponent Alliance="@_player.CurrentAlliance"/>
                        </a>
                    }
                    @if (_player.CurrentAlliance != null && _player.PreviousAlliances.Count > 0)
                    {
                        <div class="alliance-list-spacer"></div>
                    }
                    @foreach (var alliance in _player.PreviousAlliances)
                    {
                        <a href="@FogUrlBuilder.PageRoutes.Alliance(alliance.Id)" class="anchor-inherited-style"
                           @onclick="() => OnAllianceClicked(alliance.Id)">
                            <AllianceListItemComponent Alliance="@alliance"/>
                        </a>
                    }
                </div>
            </div>
        }

        <ExpandableContainer Title="@Loc[FogResource.StatsHub_Player_CityProperties]"
                             IsLoading="@_cityPropertiesAreLoading"
                             ExpandedChanged="@ToggleProductionCapacityView">
            @if (_cityProperties != null)
            {
                <div class="city-properties-container">
                    <span>@Loc[FogResource.StatsHub_Player_ProductionCapacity, FogResource.Common_24hrs]</span>
                    <div class="city-properties-section-items-container">
                        @if (_cityProperties?.Food != null)
                        {
                            <ResourceWithValue ResourceValue="@_cityProperties?.Food"/>
                        }
                        @if (_cityProperties?.Coins != null)
                        {
                            <ResourceWithValue ResourceValue="@_cityProperties?.Coins"/>
                        }
                        @if (_cityProperties?.Goods != null)
                        {
                            <ResourceWithValue ResourceValue="@_cityProperties?.Goods"/>
                        }
                    </div>
                    @if (_cityProperties!.PremiumExpansionCount != null)
                    {
                        <span>@Loc[FogResource.StatsHub_Player_PremiumExpansions]</span>
                        <div class="city-properties-section-items-container">
                            <ResourceWithValue ResourceValue="@_cityProperties.PremiumExpansionCount"/>
                            <ResourceWithValue ResourceValue="@_cityProperties.TotalPremiumExpansionCost"/>
                        </div>
                    }
                </div>
            }
        </ExpandableContainer>

        <div class="fog-container section-container">
            <span class="section-title">@Loc[FogResource.Common_Ages]</span>
            <MudTimeline TimelinePosition="TimelinePosition.Start">
                @foreach (var age in _player.Ages)
                {
                    <MudTimelineItem Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">
                        <ItemContent>
                            <p class="preserve-whitespace">@age.Value</p>
                            <p class="timeline-date">@age.Date.ToString("d")</p>
                        </ItemContent>
                    </MudTimelineItem>
                }
            </MudTimeline>
        </div>

        @if (_player.Names != null)
        {
            <div class="fog-container section-container">
                <span class="section-title">@Loc[FogResource.StatsHub_Player_Names]</span>
                <div>
                    <span>@(string.Join(", ", _player.Names))</span>
                </div>
            </div>
        }
        <AdSenseComponent AdSlot="9404993245" AdFormat="@AdSenseConstants.FORMAT_MULTIPLEX"
                          AdClass="ads-multiflex" Style="margin-top: 12px;"/>
    </div>
}
else
{
    <LoadingIndicator/>
}

@code {

    [Parameter]
    public required int PlayerId { get; set; }

}
