@attribute [Route(FogUrlBuilder.PageRoutes.PLAYER_TEMPLATE)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@using Size = MudBlazor.Size
@using ValueType = Syncfusion.Blazor.Charts.ValueType
@inherits StatsHubPageBase
@if (IsInitialized && _player != null)
{
    <div class="page-container">
        <div class="fog-container info-container">
                <img class="avatar" src="@_player.Player.AvatarUrl"/>

            <div class="details">
                <div><span class="label">@Loc[FogResource.StatsHub_NameSearchField_Label]: </span>@_player.Player.Name
                </div>
                @if (_player.Player.AllianceName != null)
                {
                    <div class="user-select-none" style="cursor: pointer" @onclick="SearchAlliance">
                        <span class="label">@Loc[FogResource.StatsHub_Player_Alliance]: </span>
                        <span class="preserve-whitespace">"@_player.Player.AllianceName"</span>
                        <span class="material-symbols-outlined">link</span>
                    </div>
                }
                <div><span class="label">@Loc[FogResource.StatsHub_Player_World]: </span>@_player.Player.WorldId</div>
                <div>
                    <span
                        class="label">@Loc[FogResource.StatsHub_Player_RankingPoints]: </span>@_player.Player.RankingPoints
                </div>
                <div><span class="label">@Loc[FogResource.StatsHub_Player_Rank]: </span>@_player.Player.Rank</div>
                <div><span class="label">@Loc[FogResource.StatsHub_Player_Age]: </span>@_player.Player.Age</div>
                <div><span class="label">@Loc[FogResource.StatsHub_Player_UpdatedOn]: </span>@_player.Player.UpdatedAt
                </div>
            </div>
        </div>
        @if(_player.Player.WorldId == "zz1")
        {
            <div class="fog-container section-container actions-container">
                <MudButton OnClick="VisitCity" Variant="Variant.Filled" Color="Color.Primary" Disabled="@_fetchingCity"
                           EndIcon="@Icons.Material.Filled.FlightTakeoff" IconColor="Color.Inherit">
                    @Loc[FogResource.StatsHub_Player_Visit]
                </MudButton>
                <MudButton OnClick="ShowCityStats" Variant="Variant.Filled" Color="Color.Primary" Disabled="@_fetchingCity"
                           EndIcon="@Icons.Material.Filled.Analytics" IconColor="Color.Inherit">
                    @Loc[FogResource.StatsHub_Player_ViewCityStats]
                </MudButton>
            </div>
        }
        @if (_canShowChart)
        {
            <div class="fog-container section-container ranking-points-chart-container">
                <span class="section-title">@Loc[FogResource.StatsHub_Player_RankingPoints]</span>
                <SfChart Focusable="false" Height="300">
                    <ChartArea>
                        <ChartAreaBorder Width="0"/>
                    </ChartArea>
                    <ChartMargin Top="12"/>
                    <ChartPrimaryXAxis IntervalType="IntervalType.Days" Format="dd/MM"
                                       ValueType="ValueType.DateTime">
                        <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                        <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                             Color="var(--fog-text-color)"/>
                        <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                        <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                    </ChartPrimaryXAxis>
                    <ChartPrimaryYAxis RangePadding="ChartRangePadding.Round">
                        <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                        <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                             Color="var(--fog-text-color)"/>
                        <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                        <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                    </ChartPrimaryYAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@_player.RankingPoints" XName="Date" YName="Value"
                                     Type="ChartSeriesType.Line" Fill="var(--fog-chart-line-color)">
                            <ChartEmptyPointSettings Mode="EmptyPointMode.Drop"/>
                            <ChartSeriesAnimation Enable="false"/>
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>
            </div>

            @if (_player.PvpBattles.Count > 0)
            {
                <div class="fog-container section-container">
                    <span class="section-title">@Loc[FogResource.StatsHub_Player_PvpBattles]</span>
                    <div class="pvp-battles-list">
                        @foreach (var battle in _player.PvpBattles)
                        {
                            <PvpBattleListItemComponent Battle="@battle" OnOpponentClick="OnPlayerClicked"
                                                        OnHeroClick="OnHeroClicked"
                                                        OnBattleStatsClicked="OpenBattleStats"/>
                        }
                    </div>
                </div>
            }

            @if (_player.PvpRankingPoints.Count > 0)
            {
                <div class="fog-container section-container ranking-points-chart-container">
                    <span class="section-title">@Loc[FogResource.StatsHub_Player_PvpRankingPoints]</span>
                    <SfChart Focusable="false" Height="300">
                        <ChartArea>
                            <ChartAreaBorder Width="0"/>
                        </ChartArea>
                        <ChartMargin Top="12"/>
                        <ChartPrimaryXAxis IntervalType="IntervalType.Hours" Format="dd/MM HH:mm"
                                           ValueType="ValueType.DateTime">
                            <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                            <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                                 Color="var(--fog-text-color)"/>
                            <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                            <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis RangePadding="ChartRangePadding.Round">
                            <ChartAxisMajorGridLines Color="var(--fog-border-color)" Width="1"/>
                            <ChartAxisLabelStyle FontFamily="var(--main-font-family)"
                                                 Color="var(--fog-text-color)"/>
                            <ChartAxisMajorTickLines Color="var(--fog-border-color)"/>
                            <ChartAxisLineStyle Color="var(--fog-border-color)" Width="2"/>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@_player.PvpRankingPoints" XName="Date" YName="Value"
                                         Type="ChartSeriesType.Line" Fill="var(--fog-chart-line-color)">
                                <ChartEmptyPointSettings Mode="EmptyPointMode.Drop"/>
                                <ChartSeriesAnimation Enable="false"/>
                            </ChartSeries>
                        </ChartSeriesCollection>
                    </SfChart>
                </div>
            }
        }

        <div class="fog-container section-container">
            <span class="section-title">@Loc[FogResource.StatsHub_Player_Alliances]</span>
            <div class="strings-container">
                @foreach (var alliance in _player.Alliances)
                {
                    <span class="name preserve-whitespace user-select-none" style="cursor: pointer"
                          @onclick="SearchAlliance">"@alliance"</span>
                }
            </div>
        </div>

        <div class="fog-container section-container">
            <span class="section-title">@Loc[FogResource.StatsHub_Player_Ages]</span>
            <MudTimeline TimelinePosition="TimelinePosition.Start">
                @foreach (var age in _player.Ages)
                {
                    <MudTimelineItem Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">
                        <ItemContent>
                            <p class="preserve-whitespace">@age.Value</p>
                            <p class="timeline-date">@age.Date.ToString("d")</p>
                        </ItemContent>
                    </MudTimelineItem>
                }
            </MudTimeline>
        </div>

        @if (_player.Names.Count > 1)
        {
            <div class="fog-container section-container">
                <span class="section-title">@Loc[FogResource.StatsHub_Player_Names]</span>
                <div class="strings-container">
                    @foreach (var name in _player.Names)
                    {
                        <span class="name preserve-whitespace">"@name"</span>
                    }
                </div>
            </div>
        }


    </div>
}
else
{
    <LoadingIndicator/>
}

@code {

    [Parameter]
    public required int PlayerId { get; set; }

}