@attribute [Route(FogUrlBuilder.PageRoutes.BASE_STATS_HUB_PATH)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@inherits StatsHubPageBase
<div class="page-container">
    <div class="column">
        <PlayerStatsTopListComponent
            Title="@Loc[FogResource.StatsHub_Worlds_TopPlayerListTitle, FogResource.StatsHub_Worlds_MainWorld]"
            WorldId="@MAIN_WORLD_ID"/>
    </div>
    <div class="column">
        <EventCityTopListComponent
            Title="@Loc[FogResource.StatsHub_Worlds_TopEventCityListTitle, FogResource.StatsHub_Worlds_MainWorld]"
            WorldId="@MAIN_WORLD_ID"/>
    </div>
    <div class="column">
        <AllianceStatsTopListComponent
            Title="@Loc[FogResource.StatsHub_Worlds_TopAllianceListTitle, FogResource.StatsHub_Worlds_MainWorld]"
            WorldId="@MAIN_WORLD_ID"/>
    </div>
    <div class="column">
        <AllianceTopAthRankingsComponent
            WorldId="@MAIN_WORLD_ID"
            Title="@Loc[FogResource.StatsHub_Worlds_TopAllianceAthRankingListTitle, FogResource.StatsHub_Worlds_MainWorld]"/>
    </div>
    <div class="column">
        <PlayerStatsTopListComponent
            Title="@Loc[FogResource.StatsHub_Worlds_TopPlayerListTitle, FogResource.StatsHub_Worlds_BetaWorld]"
            WorldId="@BETA_WORLD_ID"/>
    </div>
    <div class="column">
        <EventCityTopListComponent
            Title="@Loc[FogResource.StatsHub_Worlds_TopEventCityListTitle, FogResource.StatsHub_Worlds_BetaWorld]"
            WorldId="@BETA_WORLD_ID"/>
    </div>
    <div class="column">
        <AllianceStatsTopListComponent
            Title="@Loc[FogResource.StatsHub_Worlds_TopAllianceListTitle, FogResource.StatsHub_Worlds_BetaWorld]"
            WorldId="@BETA_WORLD_ID"/>
    </div>
    <div class="column">
        <AllianceTopAthRankingsComponent
            WorldId="@BETA_WORLD_ID"
            Title="@Loc[FogResource.StatsHub_Worlds_TopAllianceAthRankingListTitle, FogResource.StatsHub_Worlds_BetaWorld]"/>
    </div>
    <div class="column">
        <TopHeroesComponent Title="@Loc[FogResource.StatsHub_HeroInsights_ListTitle]"/>
    </div>
</div>