@attribute [Route(FogUrlBuilder.PageRoutes.WORLD_EVENT_CITY_TEMPLATE)]
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@inherits WorldStatsPageBase<Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels.PlayerViewModel>

@if (IsInitialized)
{
    <StatsListComponent Title="@Title" Items="@Items" IsLoading="@IsLoading">
        <ItemTemplate>
            <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Player(context.Id)"
               @onclick="OnItemClicked">
                <PlayerListItemComponent ShowRank="true" Player="@context"/>
            </a>
        </ItemTemplate>
    </StatsListComponent>
}
else
{
    <LoadingIndicator/>
}

@code {
}