@attribute [Route(FogUrlBuilder.PageRoutes.WORLD_TEMPLATE)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@using Size = MudBlazor.Size
@inherits StatsHubPageBase
@if (IsInitialized)
{
    <div class="page-container">
        <div class="fog-container section">
            <div class="top-container">
                <span class="title">@_title</span>
                <MudIconButton Icon="@Icons.Material.Filled.Search" OnClick="ToggleSearchForm"/>
                @if (_isLoading)
                {
                    <MudProgressLinear Style="position: absolute; bottom: 0; left: 0" Color="Color.Primary"
                                       Indeterminate="true"/>
                }
            </div>
            <MudCollapse Expanded="_searchFormIsExpanded">
                <div class="search-form">
                    <MudTextField @ref="@_playerNameSearchField" OnKeyDown="SearchTextFieldOnKeyDown"
                                  @bind-Value="@_playerNameSearchString" Label="@Loc[FogResource.StatsHub_Player_Name]"
                                  Variant="Variant.Outlined" Immediate="true" Clearable="true"
                                  OnClearButtonClick="Search"/>
                    <MudButton Variant="Variant.Filled" OnClick="Search" Style="align-self: end"
                               Disabled="@(string.IsNullOrWhiteSpace(_playerNameSearchString))"
                               Color="Color.Primary">@Loc[FogResource.Common_Search]</MudButton>
                </div>

            </MudCollapse>
            <div class="items-container">

                @if (_players != null)
                {
                    @foreach (var player in _players.Items)
                    {
                        <PlayerListItemComponent Player="@player" OnClick="OnPlayerClicked"/>
                    }
                }

            </div>
            <div class="pagination-container">
                <MudPagination Count="@(_players?.TotalPages ?? 0)" Selected="@_pageNumber"
                               Disabled="@(_players == null)" Size="Size.Large" SelectedChanged="OnPageChanged"/>
            </div>

        </div>
    </div>
}
else
{
    <LoadingIndicator/>
}

@code {

    [Parameter]
    public required string WorldId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? PageNumber { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? PlayerName { get; set; }

}