@attribute [Route(FogUrlBuilder.PageRoutes.WORLD_PLAYERS_TEMPLATE)]
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@inherits WorldStatsPageBase<Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels.PlayerViewModel>

@if (IsInitialized)
{
    <PaginatedStatsListComponent  @ref="@_listComponent" Title="@Title" ItemsProviderDelegate="GetDataAsync">
        <FilterTemplate>
            <TextSearchComponent OnSearch="Search" NameSearchString="@QueryItem"></TextSearchComponent>
        </FilterTemplate>
        <ItemTemplate>
            <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Player(context.Id)"
               @onclick="OnItemClicked">
                <PlayerListItemComponent Player="@context"/>
            </a>
        </ItemTemplate>
    </PaginatedStatsListComponent>
}
else
{
    <LoadingIndicator/>
}

@code {
}