@attribute [Route(FogUrlBuilder.PageRoutes.WORLD_ALLIANCES_TEMPLATE)]
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.StatsHub
@inherits WorldStatsPageBase<Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels.AllianceViewModel>

@if (IsInitialized)
{
    <StatsListComponent Title="@Title" Items="@Items" IsLoading="@IsLoading">
        <FilterTemplate>
            <TextSearchComponent OnSearch="Search" NameSearchString="@QueryItem"></TextSearchComponent>
        </FilterTemplate>
        <ItemTemplate>
            <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Alliance(context.Id)"
               @onclick="OnItemClicked">
                <AllianceListItemComponent Alliance="@context"/>
            </a>
        </ItemTemplate>
    </StatsListComponent>
}
else
{
    <LoadingIndicator/>
}

@code {
}