@using Ingweland.Fog.Models.Fog.Entities
@using Ingweland.Fog.Models.Hoh.Enums
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner.Stats
@using Position = MudBlazor.Position

<div class="content-wrapper" @onkeyup="OnKeyUp" tabindex="0">
    @if (!_isInitialized)
    {
        <div class="spinner-grow gid-loading-indicator" role="status"></div>
    }
    else
    {
        <MudToolBar Dense="true" Class="city-planner-toolbar user-select-none" Gutters="false">
            <MudToggleIconButton Icon="material-symbols-outlined/left_panel_open"
                                 Class="fog-icon-light" Toggled="@_leftPanelIsVisible"
                                 ToggledIcon="material-symbols-outlined/left_panel_close"
                                 ToggledColor="Color.Inherit"
                                 ToggledChanged="ToggleLeftPanel"/>
            <div style="width: 32px; visibility: hidden"></div>
            <MudIconButton Icon="@Icons.Material.Outlined.Save" OnClick="@Save" Color="Color.Inherit"/>
            @if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyLayoutTimelineItem)
            {
                <div class="toolbar-divider"></div>
                <div>
                    <MudIconButton Icon="@Icons.Material.Outlined.ZoomOut" OnClick="@ZoomOut" Color="Color.Inherit"/>
                    <MudIconButton Icon="@Icons.Material.Outlined.ZoomIn" OnClick="@ZoomIn" Color="Color.Inherit"/>
                    <MudIconButton Icon="@Icons.Material.Outlined.FitScreen" OnClick="@FitToScreen"
                                   Color="Color.Inherit"/>
                </div>
                <div class="toolbar-divider"></div>
                <div>
                    <MudIconButton Icon="@Icons.Material.Outlined.Cached" OnClick="@Rotate" Color="Color.Inherit"
                                   Disabled="@(CityStrategyBuilderService.CityMapState.SelectedCityMapEntity is not {IsMovable: true})"/>
                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" OnClick="@DeleteCityMapEntity"
                                   Color="Color.Inherit"
                                   Disabled="@(CityStrategyBuilderService.CityMapState.SelectedCityMapEntity is not {IsMovable: true})"/>
                    <MudIconButton Icon="@Icons.Material.Outlined.SelectAll" OnClick="@SelectGroup"
                                   Color="Color.Inherit"
                                   Disabled="@(CityStrategyBuilderService.CityMapState.SelectedCityMapEntity == null)"/>
                </div>
                <div class="toolbar-divider"></div>
            }
            <MudSpacer/>
            <MudToggleIconButton Icon="material-symbols-outlined/right_panel_open"
                                 Color="Color.Inherit" Toggled="@_rightPanelIsVisible"
                                 ToggledIcon="material-symbols-outlined/right_panel_close"
                                 ToggledColor="Color.Inherit"
                                 ToggledChanged="ToggleRightPanel"/>
        </MudToolBar>
        @if (_leftPanelIsVisible && CityStrategyBuilderService.SelectedTimelineItem is CityStrategyLayoutTimelineItem)
        {
            <div class="left-container">
                <BuildingSelectorComponent ItemClicked="BuildingSelectorOnItemClicked"
                                           Items="@CityStrategyBuilderService.CityMapState.BuildingSelectorItems"/>
            </div>
        }

        <div class="main-container">
            @if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyLayoutTimelineItem)
            {
                <SKGLViewComponent @ref="_skComponent"
                                   OnPaintSurface="SkCanvasView_OnPaintSurface"
                                   OnPointerUp="@InteractiveCanvasOnPointerUp"
                                   OnPointerDown="@InteractiveCanvasOnPointerDown"
                                   OnWheel="@InteractiveCanvasOnWheel"
                                   OnPointerMove="@InteractiveCanvasOnPointerMove"/>
            }
            else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyDescriptionTimelineItem di)
            {
                <div class="main-container-non-layout-item-container" @onkeydown:stopPropagation="true"
                     @onkeyup:stopPropagation="true">
                    <DescriptionTimelineItemComponent Data="@di" OnChanged="@RequestSaving"/>
                </div>
            }
            else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyResearchTimelineItem ri)
            {
                <div class="main-container-non-layout-item-container" @onkeydown:stopPropagation="true"
                     @onkeyup:stopPropagation="true">
                    <ResearchTimelineItemComponent Data="@ri" CityId="@CityStrategyBuilderService.Strategy.InGameCityId"
                                                   OnChanged="@RequestSaving"/>
                </div>
            }
            else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyIntroTimelineItem ii)
            {
                <div class="main-container-non-layout-item-container" @onkeydown:stopPropagation="true"
                     @onkeyup:stopPropagation="true">
                    <IntroductionTimelineItemComponent Data="@ii" OnChanged="@RequestSaving"/>
                </div>
            }
        </div>
        @if (_rightPanelIsVisible)
        {
            <MudTabs Class="right-container" TabHeaderClass="city-planner-tabs-header" @onkeydown:stopPropagation="true"
                     @onkeyup:stopPropagation="true"
                     SliderColor="Color.Error" MinimumTabWidth="28px" Position="Position.Right" Outlined="false">
                <MudTabPanel Class="fog-icon-light" Icon="@Icons.Material.Outlined.ViewTimeline">
                    <div class="right-content-container">
                        <CityStrategyTimelineComponent OnCreate="@OnCreateTimelineItem" OnDelete="@OnDeleteTimelineItem"
                                                       OnSelect="@OnSelectTimelineItem" OnEdit="@OnEditTimelineItem"
                                                       Items="@CityStrategyBuilderService.TimelineItems"
                                                       OnMoveDown="@OnMoveTimelineItemDown"
                                                       OnMoveUp="@OnMoveTimelineItemUp"
                                                       OnExportToCityPlanner="@OnExportToCityPlanner"
                                                       OnShareLayout="@OnShareLayout"
                                                       OnSaveImage="@OnSaveImage"/>
                    </div>
                </MudTabPanel>
                <MudTabPanel Class="fog-icon-light" Icon="@Icons.Material.Outlined.Analytics"
                             Disabled="@(CityStrategyBuilderService.SelectedTimelineItem is not CityStrategyLayoutTimelineItem)">
                    <div class="right-content-container">
                        @if (CityStrategyBuilderService.CityMapState.SelectedCityMapEntity != null)
                        {
                            <CityMapEntityPropertiesComponent
                                Building="@CityStrategyBuilderService.CityMapState.SelectedEntityViewModel"/>
                        }
                        @if (CityStrategyBuilderService.CityMapState.SelectedCityMapBuildingGroupViewModel != null)
                        {
                            <CityMapBuildingGroupPropertiesComponent
                                BuildingGroup="@CityStrategyBuilderService.CityMapState.SelectedCityMapBuildingGroupViewModel"/>
                        }
                        @if (CityStrategyBuilderService.CityMapState.CityPropertiesViewModel != null)
                        {
                            <CityPropertiesComponent
                                Data="@CityStrategyBuilderService.CityMapState.CityPropertiesViewModel"/>
                        }
                    </div>

                </MudTabPanel>
                <MudTabPanel Class="fog-icon-light" Icon="fas fa-calculator"
                             Disabled="@(CityStrategyBuilderService.SelectedTimelineItem is not CityStrategyLayoutTimelineItem)">
                    <div class="right-content-container">
                        <CityPlannerBuildingCostCalculator
                            CityId="@CityStrategyBuilderService.CityMapState.InGameCityId"
                            BuildingGroup="@(CityStrategyBuilderService.CityMapState.SelectedCityMapEntity?.BuildingGroup ?? BuildingGroup.Undefined)"
                            FromLevel="@(CityStrategyBuilderService.CityMapState.SelectedCityMapEntity?.Level ?? 0)"
                            BuildingName="@CityStrategyBuilderService.CityMapState.SelectedCityMapEntity?.Name"/>
                        @if (CityStrategyBuilderService.CityMapState.CityWonder != null)
                        {
                            <CityPlannerWonderCostCalculator
                                FromLevel="@CityStrategyBuilderService.CityMapState.CityWonderLevel"/>
                        }
                    </div>
                </MudTabPanel>
                <MudTabPanel Class="fog-icon-light" Icon="@Icons.Material.Outlined.Settings">
                    <div class="right-content-container">
                        <CityPlannerSettingsComponent/>
                        <CityStartegyBuilderActionsComponent StrategyName="@CityStrategyBuilderService.Strategy.Name"
                                                             OnDelete="@DeleteStrategy" OnShare="@ShareStrategy"
                                                             OnNameChanged="@RenameStrategy"/>
                    </div>
                </MudTabPanel>
            </MudTabs>
        }
    }

</div>


@code{

    [Parameter]
    [EditorRequired]
    public required CityStrategy Strategy { get; set; }

}
