@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Core.Constants
@using Ingweland.Fog.Dtos.Hoh.City
@using Ingweland.Fog.Models.Hoh.Enums
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
@inject IDialogService DialogService

<div class="fog-container component-root">
    <div class="main-container">
        <div class="section-container">
            <MudTextField T="string" FullWidth="true"
                          @bind-Value="@StrategyName"
                          Label="@Loc[FogResource.CityPlanner_CityName]"
                          MaxLength="@FogConstants.NAME_MAX_CHARACTERS"
                          Counter="@FogConstants.NAME_MAX_CHARACTERS"
                          Immediate="true"
                          Validation="@(new Func<string, IEnumerable<string>>(ValidateInput))"
                          Required="true"/>
            <MudButton Color="Color.Success" Variant="Variant.Filled"
                       OnClick="@SaveName"
                       Disabled="@(!string.IsNullOrWhiteSpace(ValidateInput(StrategyName).FirstOrDefault()))">
                @Loc[FogResource.Common_Save]
            </MudButton>
        </div>
        @if (Wonders != null)
        {
            <MudSelect Label="@Loc[FogResource.Hoh_WorldWonder]" Value="@Wonder"
                       ValueChanged="@(dto => OnWonderChanged.InvokeAsync(dto.Id))"
                       T="WonderDto" Variant="Variant.Outlined" Margin="Margin.Dense" Dense="true">
                @foreach (var wonder in Wonders)
                {
                    <MudSelectItem Value="wonder">@wonder.WonderName</MudSelectItem>
                }
            </MudSelect>
        }
        <MudButton StartIcon="@Icons.Material.Filled.Share" Variant="Variant.Filled"
                   OnClick="@OnShare">@Loc[FogResource.Common_Share]
        </MudButton>
        <MudButton Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Variant="Variant.Filled"
                   OnClick="@OnDeleteClicked">
            @Loc[FogResource.Common_Delete]
        </MudButton>
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public string StrategyName { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }

    [Parameter]
    public EventCallback OnShare { get; set; }

    [Parameter]
    public EventCallback<string> OnNameChanged { get; set; }

    [Parameter]
    public IReadOnlyCollection<WonderDto>? Wonders { get; set; }

    [Parameter]
    public WonderDto? Wonder { get; set; }

    [Parameter]
    public EventCallback<WonderId> OnWonderChanged { get; set; }

    private async Task SaveName()
    {
        await OnNameChanged.InvokeAsync(StrategyName);
    }

    private async Task OnDeleteClicked()
    {
        var result = await DialogService.ShowMessageBoxAsync(
            null,
            Loc[FogResource.Common_DeleteConfirmation, StrategyName],
            Loc[FogResource.Common_Delete], cancelText: Loc[FogResource.Common_Cancel]);
        if (result != null)
        {
            await OnDelete.InvokeAsync();
        }
    }

    private IEnumerable<string> ValidateInput(string input)
    {
        if (string.IsNullOrWhiteSpace(input))
            yield return Loc[FogResource.CityPlanner_NameRequiredError];
        else if (input.Length > FogConstants.NAME_MAX_CHARACTERS)
            yield return Loc[FogResource.CityPlanner_NameTooLongError, FogConstants.NAME_MAX_CHARACTERS];
    }

}