@attribute [Route(FogUrlBuilder.PageRoutes.BASE_ABOUT_PATH)]
@inject IJSInteropService JSInteropService;
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.Services.Abstractions
@using Ingweland.Fog.Application.Core.Helpers
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
<div class="component-root">
    <AboutComponent/>
    <h5>@Loc[FogResource.Common_Disclaimer]</h5>
    <span>@Loc[FogResource.Common_Disclaimer_Text]</span>
    <span>info@forgeofgames.com</span>
    <a href="https://discord.gg/4vFeeh7CZn" target="_blank" class="discord-link">
        <i class="fab fa-discord fs-4"></i>
        <span>@Loc[FogResource.Common_JoinDiscord]</span>
    </a>
    <MudButton Variant="Variant.Filled"
               OnClick="@OpenPrivacySettings">@Loc[FogResource.Privacy_OpenSettings]</MudButton>
</div>

@code {

    private Task OpenPrivacySettings()
    {
        return JSInteropService.OpenPrivacySettingsAsync().AsTask();
    }

}