@attribute [Route(FogUrlBuilder.PageRoutes.CITY_STRATEGIES_DASHBOARD_PATH)]
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.Constants
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityStrategyBuilder
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
<div class="page-container">
    <div class="action-buttons-container">
        @if (!_isSmallScreen)
        {
            <div class="command-center-card command-center-action-card action-card" @onclick="CreateStrategy">
                <span class="material-symbols-outlined command-center-card-icon">add_circle</span>
                <span class="command-center-card-label">@Loc[FogResource.Common_Create]</span>
            </div>
        }

    </div>

    <AdSenseComponent AdSlot="3973473671" AdClass="ads-display-responsive-horizontal"/>

    <div class="section-title">
        @Loc[FogResource.CityStrategiesDashboard_MyStrategies]
    </div>
    @if (_myStrategies.Count > 0)
    {
        <div class="items-container">

            @foreach (var city in _myStrategies)
            {
                <CityCard City="@city" OnClick="@OpenStrategy"/>
            }
        </div>
    }

    <div class="section-title">
        <span>@Loc[FogResource.CityStrategiesDashboard_CommunityStrategies]</span>
        @if (_strategiesAreLoading)
        {
            <div class="loading-indicator">
                <MudProgressLinear Color="Color.Secondary" Indeterminate="true"/>
            </div>
        }
    </div>
    @if (_communityStrategies.Count > 0)
    {
        <div class="items-container">

            @foreach (var info in _communityStrategies)
            {
                <CommunityCityStrategyCard Info="@info" OnClick="@OpenCommunityStrategy"/>
            }
        </div>
    }

    <div class="section-title">
        <span>@Loc[FogResource.CityStrategiesDashboard_CommunityGuides]</span>
        @if (_guidesAreLoading)
        {
            <div class="loading-indicator">
                <MudProgressLinear Color="Color.Secondary" Indeterminate="true"/>
            </div>
        }
    </div>
    @if (_communityGuides.Count > 0)
    {
        <div class="items-container">

            @foreach (var info in _communityGuides)
            {
                <CommunityCityGuideCard Info="@info" OnClick="@OpenCommunityGuide"/>
            }
        </div>
    }

    <AdSenseComponent AdSlot="2995868697" AdFormat="@AdSenseConstants.FORMAT_MULTIPLEX"
                      AdClass="ads-multiflex" Style="margin-top: 24px;"/>

</div>