@attribute [Route(FogUrlBuilder.PageRoutes.CITY_STRATEGIES_DASHBOARD_PATH)]
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
<div class="page-container">
    <div class="action-buttons-container">
        @if (!_isSmallScreen)
        {
            <div class="command-center-card command-center-action-card action-card" @onclick="CreateStrategy">
                <span class="material-symbols-outlined command-center-card-icon">add_circle</span>
                <span class="command-center-card-label">@Loc[FogResource.Common_Create]</span>
            </div>
        }

    </div>

    <div class="section-title">
        @Loc[FogResource.CityStrategiesDashboard_MyStrategies]
    </div>
    @if (_myStrategies.Count > 0)
    {
        <div class="items-container">

            @foreach (var city in _myStrategies)
            {
                <CityCard City="@city" OnClick="@OpenStrategy"/>
            }
        </div>
    }

    <a class="guides-moved-notice"
       href="@FogUrlBuilder.PageRoutes.ALLIED_CULTURE_CITY_GUIDES">@Loc[FogResource.CityStrategiesDashboard_GuidesMovedNotice]</a>
</div>