@page "/"
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.Providers.Interfaces
@using Ingweland.Fog.Application.Core.Helpers
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
@inject IAssetUrlProvider AssetUrlProvider;
<div class="container-fluid">
    <div class="row px-2">
        <AboutComponent/>
    </div>
    <div class="banner-grid">
        <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.ALLIED_CULTURE_CITY_GUIDES">
            <div class="card">
                <img src="@AssetUrlProvider.GetHohImageUrl("city_strategies_banner", ".jpg")"/>
                <div class="title">@Loc[FogResource.CityStrategiesDashboard_Title]</div>
            </div>
        </a>
        <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.ATLANTIS">
            <div class="card">
                <img src="@AssetUrlProvider.GetHohImageUrl("hero_backdrop_atlantisshop", ".jpg")"/>
                <div class="title">@Loc[FogResource.Atlantis_Title]</div>
            </div>
        </a>
        <a class="anchor-inherited-style" href="city-planner">
            <div class="card">
                <img src="@AssetUrlProvider.GetHohImageUrl("city_planner_banner", ".jpg")"/>
                <div class="title">@Loc[FogResource.CityPlanner_Title]</div>
            </div>
        </a>
        <a class="anchor-inherited-style" href="heroes">
            <div class="card">
                <img src="@AssetUrlProvider.GetHohImageUrl("deco_hero_pattern", ".jpg")"/>
                <div class="title">@Loc[FogResource.Hoh_Heroes]</div>
            </div>
        </a>
        <a class="anchor-inherited-style" href="stats-hub">
            <div class="card">
                <img src="@AssetUrlProvider.GetHohImageUrl("stats_hub_banner", ".jpg")"/>
                <div class="title">@Loc[FogResource.StatsHub_Title]</div>
            </div>
        </a>
        <a class="anchor-inherited-style" href="campaign">
            <div class="card">
                <img src="@AssetUrlProvider.GetHohImageUrl("scout_banner_feudal_age", ".jpg")"/>
                <div class="title">@Loc[FogResource.Navigation_Campaign]</div>
            </div>
        </a>
    </div>
</div>
