@attribute [Route(FogUrlBuilder.PageRoutes.RESEARCH_CALCULATOR_PATH)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.Services.Abstractions
@using Ingweland.Fog.Application.Client.Web.Services.Hoh.Abstractions
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Research
@using Ingweland.Fog.Application.Core.Extensions
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.Dtos.Hoh.City
@using Ingweland.Fog.Models.Hoh.Enums
@using Size = MudBlazor.Size
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
@inject IResearchCalculatorService ResearchCalculatorService
@inject IPersistenceService PersistenceService
@if (_ageTechnologies != null)
{
    <div class="content-wrapper vertical-layout" id="scrollable-container">
        <div class="vertical-layout text-container">
            <div class="tool-title">@Loc[FogResource.Tools_ResearchCalculator_Name]</div>
            <div>@Loc[FogResource.Tools_ResearchCalculator_Description]</div>
        </div>

        <div class="fog-container section-container">
            <MudToggleGroup T="CityId" Size="Size.Small" Value="@_selectedCity" ValueChanged="ChangeCity"
                            Class="unit-battle-type-selector" Color="Color.Secondary">
                @foreach (var city in _cities)
                {
                    <MudToggleItem Value="@city.Id" Text="@city.Name"
                                   Class="unit-battle-type-selector-item"/>
                }
            </MudToggleGroup>
        </div>

        <div class="fog-container section-container step-description-container vertical-layout">
            <div class="stepper">
                <div class="step-number">1</div>
                <hr/>
                <div class="step-number" style="background-color: @(_step2BgColor)">2</div>
                <hr/>
                <div class="step-number" style="background-color: @(_step3BgColor)">3</div>
            </div>
            <div class="step-description">@_stepDescription</div>
        </div>
        @if (_cost == null)
        {
            <div class="fog-container vertical-layout technologies-container">
                @foreach (var ageTechnologies in _ageTechnologies)
                {
                    <div class="age-header" @onclick="() => ageTechnologies.IsListOpen = !ageTechnologies.IsListOpen"
                         style="background-color: @ageTechnologies.AgeColor">@ageTechnologies.AgeName</div>

                    <MudCollapse Expanded="@ageTechnologies.IsListOpen">
                        <div class="items-container">
                            @foreach (var group in ageTechnologies.Technologies.GroupBy(x => x.HorizontalIndex).OrderBy(g => g.Key))
                            {
                                <div class="item-row">
                                    @foreach (var tech in group.OrderBy(x => x.VerticalIndex))
                                    {
                                        <TechnologyComponent Data="@tech" Clicked="OnClicked"/>
                                    }
                                </div>
                            }
                        </div>
                    </MudCollapse>
                }
            </div>
        }
        else
        {
            <div class="vertical-layout">
                <h4 class="user-select-none">@Loc[FogResource.Hoh_Cost]</h4>
                <div class="fog-container cost-items-container">
                    @foreach (var costItem in _cost.Cost)
                    {
                        <ResourceWithValue ResourceValue="@costItem"/>
                    }
                </div>
            </div>
        }

        <div class="navigation-buttons-container">
            <MudFab Color="Color.Primary" Variant="Variant.Filled" Rel="" OnClick="PreviousBtnOnClicked"
                    Label="@Loc[FogResource.Common_Previous]"
                    Disabled="@(!_previousBtnIsEnabled)" StartIcon="@Icons.Material.Filled.ArrowBack">

            </MudFab>
            <MudFab Color="Color.Primary" Variant="Variant.Filled" OnClick="NextBtnOnClicked"
                    Label="@Loc[FogResource.Common_Next]"
                    Disabled="@(!_nextBtnIsEnabled)" EndIcon="@Icons.Material.Filled.ArrowForward">
            </MudFab>
        </div>

    </div>
}

@code {

    private CityId _selectedCity = CityId.Capital;
    private IReadOnlyCollection<CityDto> _cities = [];

    private IReadOnlyCollection<AgeTechnologiesViewModel>? _ageTechnologies;
    private Step _currentStep = Step.SelectOpen;
    private bool _previousBtnIsEnabled;
    private bool _nextBtnIsEnabled;
    private string _stepDescription = "1";
    private string _step2BgColor = "";
    private string _step3BgColor = "";
    private ResearchCostViewModel? _cost;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var cities = await LoadWithPersistenceAsync(nameof(_cities), async () => await ResearchCalculatorService.GetCitiesAsync());
        if (cities == null)
        {
            return;
        }

        _cities = cities;

        if (!OperatingSystem.IsBrowser())
        {
            //TODO This results in double loading because we do not utilize pre-rendered data.
            //The service should be refactored to fix this. Keep this for now to get pre-rendered result for SEO.
            _ageTechnologies = await ResearchCalculatorService.InitializeAsync(_selectedCity);
        }
        else
        {
            await ChangeCity(_selectedCity);
        }
    }

    private void OnClicked(ResearchCalculatorTechnologyViewModel item)
    {
        switch (_currentStep)
        {
            case Step.SelectOpen:
            {
                ResearchCalculatorService.SelectOpenTechnologies(item.Id);
                break;
            }
            case Step.SelectTarget:
            {
                ResearchCalculatorService.SelectTargetTechnologies(item.Id);
                break;
            }
        }
    }

    private enum Step
    {
        SelectOpen,
        SelectTarget,
        Results,
    }

    private Task PreviousBtnOnClicked()
    {
        _currentStep = _currentStep switch
        {
            Step.SelectTarget => Step.SelectOpen,
            Step.Results => Step.SelectTarget,
            _ => _currentStep,
        };
        return UpdateUiForStep();
    }

    private Task NextBtnOnClicked()
    {
        _currentStep = _currentStep switch
        {
            Step.SelectOpen => Step.SelectTarget,
            Step.SelectTarget => Step.Results,
            _ => _currentStep,
        };
        return UpdateUiForStep();
    }

    private async Task UpdateUiForStep()
    {
        switch (_currentStep)
        {
            case Step.SelectOpen:
            {
                _nextBtnIsEnabled = true;
                _previousBtnIsEnabled = false;
                _stepDescription = Loc[FogResource.Tools_ResearchCalculator_SelectOpenTech];
                ResearchCalculatorService.ClearTargetTechnologies();
                _cost = null;
                _step2BgColor = "var(--fog-stepper-inactive-color)";
                _step3BgColor = "var(--fog-stepper-inactive-color)";
                break;
            }
            case Step.SelectTarget:
            {
                _nextBtnIsEnabled = true;
                _previousBtnIsEnabled = true;
                _stepDescription = Loc[FogResource.Tools_ResearchCalculator_SelectTargetTech];
                _cost = null;
                _step2BgColor = "var(--fog-stepper-active-color)";
                _step3BgColor = "var(--fog-stepper-inactive-color)";
                break;
            }
            case Step.Results:
            {
                _nextBtnIsEnabled = false;
                _previousBtnIsEnabled = true;
                _stepDescription = Loc[FogResource.Tools_ResearchCalculator_Result];
                _cost = await ResearchCalculatorService.CalculateCost();
                _step2BgColor = "var(--fog-stepper-active-color)";
                _step3BgColor = "var(--fog-stepper-active-color)";
                break;
            }
        }
    }

    private async Task ChangeCity(CityId cityId)
    {
        _selectedCity = cityId.ToDefaultTechnologyCity();
        _ageTechnologies = await ResearchCalculatorService.InitializeAsync(_selectedCity);

        var openTechs = await PersistenceService.GetOpenTechnologies(_selectedCity);
        if (openTechs.Count > 0)
        {
            ResearchCalculatorService.SelectOpenTechnologies(openTechs);
            foreach (var ageTechnologies in _ageTechnologies)
            {
                if (ageTechnologies.Technologies.All(x => x.State is
                        ResearchCalculatorTechnologyState.Open or ResearchCalculatorTechnologyState.SelectedOpen))
                {
                    continue;
                }

                ageTechnologies.IsListOpen = true;
                break;
            }
        }
        else
        {
            _ageTechnologies.First().IsListOpen = true;
        }

        _currentStep = Step.SelectOpen;
        await UpdateUiForStep();
    }

}