@attribute [Route(FogUrlBuilder.PageRoutes.SUPPORT_US_PATH)]
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.Providers.Interfaces
@using Ingweland.Fog.Application.Core.Helpers
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
@inject IAssetUrlProvider AssetUrlProvider
<div class="component-root">
    <section class="fog-container message">
        <span> @Loc[FogResource.SupportUs_Message]</span>
    </section>

    <div class="fog-container donation-section donation-options">
        <h4 class="full-width-row">@Loc[FogResource.SupportUs_DonationOptions_Title]</h4>
        <span class="left-column"><strong>@Loc[FogResource.SupportUs_DonationOptions_ForgeOfGames]</strong></span>
        <div class="v-divider"></div>
        <span class="right-column"><strong>@Loc[FogResource.SupportUs_DonationOptions_FoGAndStrategies]</strong></span>
        <div class="h-divider"></div>
        <span
            class="full-width-row">@Loc[FogResource.SupportUs_PayPal] (@Loc[FogResource.SupportUs_DonationOptions_OneTime], @Loc[FogResource.SupportUs_DonationOptions_Monthly])</span>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="left-column"
                   Href="@FogUrlBuilder.PageRoutes.PAYPAL_DONATION_URL" Target="_blank"
                   StartIcon="fa-brands fa-paypal">@Loc[FogResource.SupportUs_PayPal_ButtonLabel]</MudButton>
        <div class="v-divider"></div>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="right-column"
                   Href="@FogUrlBuilder.PageRoutes.PAYPAL_DONATION_FOG_PLUS_STRATEGIES_URL" Target="_blank"
                   StartIcon="fa-brands fa-paypal">@Loc[FogResource.SupportUs_PayPal_ButtonLabel]</MudButton>
        <div class="h-divider"></div>
        <span
            class="full-width-row">@Loc[FogResource.SupportUs_PayPal] (@Loc[FogResource.SupportUs_DonationOptions_OneTime])</span>
        <div class="full-width-row">
            <MudButton Variant="Variant.Filled" Color="Color.Secondary"
                       Href="@FogUrlBuilder.PageRoutes.PAYPAL_ME_URL" Target="_blank"
                       StartIcon="fa-brands fa-paypal">@Loc[FogResource.SupportUs_PayPalMe_ButtonLabel]</MudButton>
        </div>
        <div class="v-divider"></div>
        <span
            class="right-column instructions">@Loc[FogResource.SupportUs_DonationOptions_PayPalCityStrategiesInstruction]</span>
        <div class="h-divider"></div>
        <span
            class="full-width-row">@Loc[FogResource.SupportUs_Patreon] (@Loc[FogResource.SupportUs_DonationOptions_Monthly])</span>
        <a href="@FogUrlBuilder.PageRoutes.PATREON_URL" target="_blank" class="full-width-row">
            <img src="@AssetUrlProvider.GetImageUrl("become_a_patron_button.png")" alt="Become a patron at Patreon!"
                 style="height: 46px;"/>
        </a>
        <span class="left-column instructions">@Loc[FogResource.SupportUs_DonationOptions_PatreonFoGInstruction]</span>
        <div class="v-divider"></div>
        <span
            class="right-column instructions">@Loc[FogResource.SupportUs_DonationOptions_PatreonCityStrategiesInstruction]</span>
        <div class="h-divider"></div>
        <div class="full-width-row">@Loc[FogResource.SupportUs_LargerContributionMessage]
            <MudIconButton Icon="@Icons.Custom.Brands.Discord" Color="Color.Inherit" Target="_blank"
                           Href="@FogUrlBuilder.PageRoutes.FOG_DISCORD_URL"></MudIconButton>
        </div>
    </div>


    <div class="donation-section binance-section">
        <h4> @Loc[FogResource.SupportUs_Binance_Title]</h4>
        <a href="https://app.binance.com/qr/dplk881319a3b0394359a593dc1805093d75" target="_blank">
            <img src="@AssetUrlProvider.GetImageUrl("binance_1.jpg")" alt="Binance Pay QR Code" class="binance-qr"/>
        </a>
        <p class="binance-link">
            <a href="https://app.binance.com/qr/dplk881319a3b0394359a593dc1805093d75" target="_blank">
                @Loc[FogResource.SupportUs_Binance_Link]
            </a>
        </p>
    </div>

</div>