@attribute [Route(FogUrlBuilder.PageRoutes.SUPPORT_US_PATH)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.Providers.Interfaces
@using Ingweland.Fog.Application.Core.Helpers
@using Size = MudBlazor.Size
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
@inject IAssetUrlProvider AssetUrlProvider
<div class="container">
    <header class="header">
        <h4>@Loc[FogResource.SupportUs_Title]</h4>
    </header>

    <section class="fog-container message">
        <p> @Loc[FogResource.SupportUs_Message]</p>
        <span style="align-self: center">@Loc[FogResource.SupportUs_ServerCostGoal]</span>
        <MudProgressLinear Color="Color.Warning" Rounded="true" Size="Size.Large"
                           Indeterminate="@(_annualBudgetViewModel == null)"
                           Value="@(_annualBudgetViewModel?.ServerCostCompletion ?? 0)" Max="1">
            @if(_annualBudgetViewModel != null)
            {
                <span>@_annualBudgetViewModel.ServerCostCompletionFormatted</span>
            }
        </MudProgressLinear>
    </section>

    <div class="fog-container donation-section">
        <h4>@Loc[FogResource.SupportUs_DonationOptions_Title]</h4>
        <div>@Loc[FogResource.SupportUs_PayPal] (@Loc[FogResource.SupportUs_DonationOptions_OneTime], @Loc[FogResource.SupportUs_DonationOptions_Monthly])
            <MudButton Variant="Variant.Filled" Color="Color.Secondary"
                       Href="@FogUrlBuilder.PageRoutes.PAYPAL_DONATION_URL" Target="_blank"
                       StartIcon="fa-brands fa-paypal">@Loc[FogResource.SupportUs_PayPal_ButtonLabel]</MudButton>
        </div>
        <div>@Loc[FogResource.SupportUs_PayPal] (@Loc[FogResource.SupportUs_DonationOptions_OneTime])
            <MudButton Variant="Variant.Filled" Color="Color.Secondary"
                       Href="@FogUrlBuilder.PageRoutes.PAYPAL_ME_URL" Target="_blank"
                       StartIcon="fa-brands fa-paypal">@Loc[FogResource.SupportUs_PayPalMe_ButtonLabel]</MudButton>
        </div>
        <div>@Loc[FogResource.SupportUs_Patreon] (@Loc[FogResource.SupportUs_DonationOptions_Monthly])
            <a href="@FogUrlBuilder.PageRoutes.PATREON_URL" target="_blank">
                <img src="@AssetUrlProvider.GetImageUrl("become_a_patron_button.png")" alt="Become a patron at Patreon!"
                     style="height: 46px;"/>
            </a>
        </div>
        <div>@Loc[FogResource.SupportUs_LargerContributionMessage]
            <MudIconButton Icon="@Icons.Custom.Brands.Discord" Color="Color.Inherit" Target="_blank"
                           Href="@FogUrlBuilder.PageRoutes.FOG_DISCORD_URL"></MudIconButton>
        </div>
    </div>


    <div class="donation-section binance-section">
        <h4> @Loc[FogResource.SupportUs_Binance_Title]</h4>
        <a href="https://app.binance.com/qr/dplk881319a3b0394359a593dc1805093d75" target="_blank">
            <img src="@AssetUrlProvider.GetImageUrl("binance_1.jpg")" alt="Binance Pay QR Code" class="binance-qr"/>
        </a>
        <p class="binance-link">
            <a href="https://app.binance.com/qr/dplk881319a3b0394359a593dc1805093d75" target="_blank">
                @Loc[FogResource.SupportUs_Binance_Link]
            </a>
        </p>
    </div>

</div>