@attribute [Route(FogUrlBuilder.PageRoutes.SUPPORT_US_PATH)]
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.Providers.Interfaces
@using Ingweland.Fog.Application.Core.Helpers
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
@inject IAssetUrlProvider AssetUrlProvider
<div class="container">
    <header class="header">
        <h4>@Loc[FogResource.SupportUs_Title]</h4>
    </header>
    
    <section class="fog-container benefits">
        <h4>@Loc[FogResource.SupportUs_Why_Title]</h4>
        <ul>
            <li>@Loc[FogResource.SupportUs_Why_Reason1]</li>
            <li>@Loc[FogResource.SupportUs_Why_Reason2]</li>
            <li>@Loc[FogResource.SupportUs_Why_Reason3]</li>
            <li>@Loc[FogResource.SupportUs_Why_Reason4]</li>
        </ul>
    </section>
    
    <div class="fog-container donation-section patreon-section">
        <h4>@Loc[FogResource.SupportUs_Patreon_Title]</h4>
        <p>@Loc[FogResource.SupportUs_Message]</p>
        <a href="@FogUrlBuilder.PageRoutes.PATREON_URL" target="_blank">
            <img src="@AssetUrlProvider.GetImageUrl("become_a_patron_button.png")" alt="Become a patron at Patreon!" style="height: 46px;"/>
        </a>
    </div>

    
    <div class="donation-section binance-section">
        <h4> @Loc[FogResource.SupportUs_Binance_Title]</h4>
        <a href="https://app.binance.com/qr/dplk881319a3b0394359a593dc1805093d75" target="_blank">
            <img src="@AssetUrlProvider.GetImageUrl("binance_1.jpg")" alt="Binance Pay QR Code" class="binance-qr"/>
        </a>
        <p class="binance-link">
            <a href="https://app.binance.com/qr/dplk881319a3b0394359a593dc1805093d75" target="_blank">
                @Loc[FogResource.SupportUs_Binance_Link]
            </a>
        </p>
    </div>
    
</div>