@attribute [Route(FogUrlBuilder.PageRoutes.WONDER_TEMPLATE)]
@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.Services.Hoh.Abstractions
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.City
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.Models.Hoh.Enums
@inherits Ingweland.Fog.WebApp.Client.Components.Pages.Abstractions.FogPageBase
@inject ICityUiService CityUiService;
<PageTitle>@_pageTitle</PageTitle>
@if (_wonder != null)
{
    <div class="content-wrapper">
        
        <AdSenseComponent AdSlot="9442418621" AdClass="ads-display-responsive-horizontal"/>

        <!-- Header -->
        <div class="fog-container header-container">
            <div class="group-name">@_wonder.Name</div>
            <hr class="w-100 header-divider">
            <div class="unit-type-name user-select-none">@_wonder.CityName</div>
        </div>

        <div class="container">
            <h4 class="text-center user-select-none">@Loc[FogResource.Hoh_Levels]</h4>
        </div>

        <div class="fog-container">
            @for(var i = 0; i < _wonder.Levels.Count; i++)
            {
                <WonderLevelComponent LevelData="@_wonder.Levels[i]"/>
                
                @if (i == 24)
                {
                    <AdSenseComponent AdSlot="9442418621" AdClass="ads-display-responsive-horizontal"
                                      Style="margin: 12px 0"/>
                }
            }
        </div>
        
        <AdSenseComponent AdSlot="9442418621" AdClass="ads-display-responsive-horizontal"/>
    </div>
}

@code {

    [Parameter]
    public required string WonderId { get; set; }

    private string _pageTitle = "Wonder - Heroes of History";

    private WonderViewModel? _wonder;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (!Enum.TryParse<WonderId>(WonderId, true, out var wonderId))
        {
            return;
        }

        _wonder = await LoadWithPersistenceAsync(nameof(_wonder), () => CityUiService.GetWonderAsync(wonderId));

        if (_wonder != null)
        {
            _pageTitle = Loc[FogResource.Wonder_PageTitle, _wonder.Name];
        }
    }

}