@using Ingweland.Fog.Models.Fog.Entities
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner.Stats
@using Size = MudBlazor.Size
@inherits CityStrategyViewerComponentBase
<div class="content-wrapper">
    @if (!IsInitialized)
    {
        <div class="main-container">
            <div class="spinner-grow loading-indicator" role="status"></div>
        </div>
    }
    else
    {
        @if (_currentState == ViewerState.Timeline)
        {
            <div class="main-container">
                <CityStrategyTimelineViewerComponent OnSelect="@OnSelectTimelineItem" StrategyName="@Strategy.Name"
                                                     Items="@CityStrategyBuilderService.TimelineItems"/>
            </div>
        }
        else if (_currentState == ViewerState.CityProperties)
        {
            <div class="main-container">
                <div class="timeline-item-title-container">
                    @CityStrategyBuilderService.SelectedTimelineItem?.Title
                </div>
                <div class="content-container">
                    <CityPropertiesComponent Editable="false"
                                             Data="@CityStrategyBuilderService.CityMapState.CityPropertiesViewModel"/>
                    @if (CityStrategyBuilderService.CityMapState.CityWonder != null)
                    {
                        <CityPlannerWonderCostCalculator
                            FromLevel="@CityStrategyBuilderService.CityMapState.CityWonderLevel"/>
                    }
                </div>
            </div>
        }
        else
        {
            @if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyLayoutTimelineItem)
            {
                <div class="main-container">
                    <div class="timeline-item-title-container">
                        @CityStrategyBuilderService.SelectedTimelineItem?.Title
                    </div>
                    <div class="map-container">
                        <SKGLViewComponent OnPaintSurface="SkCanvasView_OnPaintSurface"
                                           @ref="SkCanvasViewComponent" OnPointerUp="@InteractiveCanvasOnPointerUp"
                                           OnPointerDown="@InteractiveCanvasOnPointerDown"
                                           OnWheel="@InteractiveCanvasOnWheel"
                                           OnPointerMove="@InteractiveCanvasOnPointerMove"/>
                    </div>
                </div>
            }
            else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyDescriptionTimelineItem di)
            {
                <div class="main-container">
                    <div class="timeline-item-title-container">
                        @CityStrategyBuilderService.SelectedTimelineItem?.Title
                    </div>
                    <div class="content-container">
                        <DescriptionTimelineItemViewerComponent Description="@di.Description"/>
                    </div>
                </div>
            }
            else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyResearchTimelineItem ri)
            {
                <div class="main-container">
                    <div class="timeline-item-title-container">
                        @CityStrategyBuilderService.SelectedTimelineItem?.Title
                    </div>
                    <div class="content-container">
                        <ResearchTimelineItemComponent Data="@ri"
                                                       CityId="@CityStrategyBuilderService.Strategy.InGameCityId"
                                                       IsReadOnly="true"/>
                    </div>
                </div>
            }
            else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyIntroTimelineItem ii)
            {
                <div class="main-container col-span-2">
                    <IntroTimelineItemViewerComponent Data="@ii"/>
                </div>
            }

            <div class="navigation-buttons-container">
                <MudFab Color="Color.Primary" Variant="Variant.Filled" OnClick="@PreviousBtnOnClicked"
                        StartIcon="@Icons.Material.Filled.ArrowBack" Size="Size.Small">

                </MudFab>
                <MudFab Color="Color.Primary" Variant="Variant.Filled" OnClick="@NextBtnOnClicked"
                        StartIcon="@Icons.Material.Filled.ArrowForward" Size="Size.Small">
                </MudFab>
            </div>
        }
    }
</div>

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppBarButtons = @<div class="app-bar-content-container">
                            <MudToggleIconButton Icon="@Icons.Material.Outlined.ViewTimeline"
                                                 Toggled="@(_currentState == ViewerState.Timeline)"
                                                 Color="Color.Inherit"
                                                 ToggledIcon="@Icons.Material.Filled.ViewTimeline"
                                                 ToggledColor="Color.Inherit"
                                                 ToggledChanged="ToggleTimeline"/>
                            @if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyLayoutTimelineItem)
                            {
                                @if (_currentState == ViewerState.Main)
                                {
                                    <div class="toolbar-divider"></div>
                                    <MudIconButton Icon="@Icons.Material.Outlined.FitScreen"
                                                   OnClick="@FitToScreen"
                                                   Color="Color.Inherit"/>
                                }

                                <div class="toolbar-divider"></div>
                                <MudToggleIconButton Icon="@Icons.Material.Outlined.Analytics"
                                                     Color="Color.Inherit"
                                                     Toggled="@(_currentState == ViewerState.CityProperties)"
                                                     ToggledIcon="@Icons.Material.Filled.Analytics"
                                                     ToggledColor="Color.Inherit"
                                                     ToggledChanged="ToggleCityProperties"/>
                            }
                        </div>;
    }

}
