@using Ingweland.Fog.Models.Fog.Entities
@using Ingweland.Fog.Models.Hoh.Enums
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner.Stats
@using SkiaSharp.Views.Blazor
@using Position = MudBlazor.Position
@inherits CityStrategyViewerComponentBase
<div class="content-wrapper">
    @if (!IsInitialized)
    {
        <div class="spinner-grow loading-indicator" role="status"></div>
    }
    else
    {
        @if (_leftPanelIsVisible)
        {
            <div class="timeline-container">
                <CityStrategyTimelineViewerComponent OnSelect="@OnSelectTimelineItem" StrategyName="@Strategy.Name"
                                                     Items="@CityStrategyBuilderService.TimelineItems"/>
            </div>
        }

        @if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyLayoutTimelineItem)
        {
            <div class="main-container">
                <SKGLView OnPaintSurface="SkCanvasView_OnPaintSurface" tabindex="0"
                          @ref="SkCanvasView" @onpointerup="@InteractiveCanvasOnPointerUp"
                          @onpointerdown="@InteractiveCanvasOnPointerDown"
                          @onwheel="@InteractiveCanvasOnWheel"
                          @onpointermove="@InteractiveCanvasOnPointerMove"
                          IgnorePixelScaling="true"/>
            </div>
        }
        else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyDescriptionTimelineItem di)
        {
            <div class="main-container col-span-2">
                <DescriptionTimelineItemViewerComponent Description="@di.Description"/>
            </div>
        }
        else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyResearchTimelineItem ri)
        {
            <div class="main-container col-span-2">
                <ResearchTimelineItemComponent Data="@ri" CityId="@CityStrategyBuilderService.Strategy.InGameCityId"
                                               IsReadOnly="true"/>
            </div>
        }
        else if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyIntroTimelineItem ii)
        {
            <div class="main-container col-span-2">
                <IntroTimelineItemViewerComponent Data="@ii"/>
            </div>
        }

        @if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyLayoutTimelineItem)
        {
            <MudTabs Class="right-container" TabHeaderClass="city-planner-tabs-header"
                     SliderColor="Color.Error" MinimumTabWidth="28px" Position="Position.Right" Outlined="false">
                <MudTabPanel Class="fog-icon-light" Icon="@Icons.Material.Outlined.Analytics">
                    <div class="layout-properties-container">
                        @if (CityStrategyBuilderService.CityMapState.SelectedCityMapEntity != null)
                        {
                            <CityMapEntityPropertiesComponent Editable="false"
                                                              Building="@CityStrategyBuilderService.CityMapState.SelectedEntityViewModel"/>
                        }
                        @if (CityStrategyBuilderService.CityMapState.CityPropertiesViewModel != null)
                        {
                            <CityPropertiesComponent Editable="false"
                                                     Data="@CityStrategyBuilderService.CityMapState.CityPropertiesViewModel"/>
                        }
                    </div>

                </MudTabPanel>
                <MudTabPanel Class="fog-icon-light" Icon="fas fa-calculator">
                    <div class="layout-properties-container">
                        <CityPlannerBuildingCostCalculator
                            CityId="@CityStrategyBuilderService.CityMapState.InGameCityId"
                            BuildingGroup="@(CityStrategyBuilderService.CityMapState.SelectedCityMapEntity?.BuildingGroup ?? BuildingGroup.Undefined)"
                            FromLevel="@(CityStrategyBuilderService.CityMapState.SelectedCityMapEntity?.Level ?? 0)"
                            BuildingName="@CityStrategyBuilderService.CityMapState.SelectedCityMapEntity?.Name"/>
                        @if (CityStrategyBuilderService.CityMapState.CityWonder != null)
                        {
                            <CityPlannerWonderCostCalculator
                                FromLevel="@CityStrategyBuilderService.CityMapState.CityWonderLevel"/>
                        }
                    </div>
                </MudTabPanel>
            </MudTabs>
        }
    }
</div>

@code{

    [Parameter]
    public EventCallback OnEditRequested { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppBarButtons = @<div class="app-bar-content-container">
                            <MudToggleIconButton Icon="@Icons.Material.Outlined.ViewTimeline"
                                                 Class="fog-icon-light" Toggled="@_leftPanelIsVisible"
                                                 ToggledIcon="@Icons.Material.Filled.ViewTimeline"
                                                 ToggledColor="Color.Inherit"
                                                 ToggledChanged="ToggleLeftPanel"/>
                            @if (CityStrategyBuilderService.SelectedTimelineItem is CityStrategyLayoutTimelineItem)
                            {
                                <div class="toolbar-divider"></div>
                                <div>
                                    <MudIconButton Icon="@Icons.Material.Outlined.ZoomOut" OnClick="@ZoomOut"
                                                   Color="Color.Inherit"/>
                                    <MudIconButton Icon="@Icons.Material.Outlined.ZoomIn" OnClick="@ZoomIn"
                                                   Color="Color.Inherit"/>
                                    <MudIconButton Icon="@Icons.Material.Outlined.FitScreen"
                                                   OnClick="@FitToScreen"
                                                   Color="Color.Inherit"/>
                                </div>
                            }
                            <div class="toolbar-divider"></div>
                            <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="@OnEditRequested"
                                           Color="Color.Inherit"/>
                        </div>;
    }

}
