@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.StatsHub.Abstractions
@using Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels
@using Ingweland.Fog.Application.Core.Constants
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.Dtos.Hoh
@using Ingweland.Fog.Models.Hoh.Enums
@using Microsoft.Extensions.Localization
@using Refit
@inject IStringLocalizer<FogResource> Loc
<div class="fog-container component-root">
    <div class="title">@Title</div>
    <div class="items-container">
        @foreach (var alliance in _alliances)
        {
            <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Alliance(alliance.Id)">
                <AllianceListItemComponent Alliance="@alliance"/>
            </a>
        }
    </div>
    @if (Leagues != null)
    {
        <div class="button-container">
            <div class="wrapper">
                <AthLeagueSelectorComponent Leagues="@Leagues" SelectedLeague="@_selectedLeague"
                                            LeagueChanged="@OnLeagueChanged"/>
            </div>
            <div class="wrapper">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 4px"
                           Href="@ViewAllUrl">@Loc[FogResource.StatsHub_ViewAll]</MudButton>
            </div>
        </div>
    }

</div>

@code {

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    [EditorRequired]
    public required string ViewAllUrl { get; set; }

    private IReadOnlyCollection<AllianceViewModel> _alliances = [];

    [Parameter]
    [EditorRequired]
    public required IReadOnlyCollection<TreasureHuntLeagueDto>? Leagues { get; init; }

    [Parameter]
    [EditorRequired]
    public required string WorldId { get; set; }

    private TreasureHuntLeague _selectedLeague = TreasureHuntLeague.Overlord;
    private CancellationTokenSource? _athRankingsCts;

    [Inject]
    protected IStatsHubUiService StatsHubUiService { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await GetItems();
    }

    private async Task OnLeagueChanged(TreasureHuntLeague league)
    {
        _selectedLeague = league;
        await GetItems();
    }

    private async Task GetItems()
    {
        if (_athRankingsCts != null)
        {
            await _athRankingsCts.CancelAsync();
        }

        StateHasChanged();

        _athRankingsCts = new CancellationTokenSource();

        try
        {
            var result = await StatsHubUiService
                .GetAlliancesAthRankingsAsync(WorldId, 0, FogConstants.DEFAULT_STATS_PAGE_SIZE, _selectedLeague);
            _alliances = result.Items;
        }
        catch (OperationCanceledException _)
        {
        }
        catch (ApiException apiEx) when (apiEx.InnerException is TaskCanceledException)
        {
        }
        catch (Exception e)
        {
            Console.Error.WriteLine(e);
        }
    }

}