@using Ingweland.Fog.Application.Client.Web.CommandCenter.Models
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.Providers.Interfaces
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Battle
@using Ingweland.Fog.Models.Hoh.Enums
@using Microsoft.Extensions.Localization
@using MudBlazor.Utilities
@inject IStringLocalizer<FogResource> Loc
@inject IAssetUrlProvider AssetUrlProvider

<div class="fog-container component-root user-select-none">
    <div class="@StatusContainerClassname">
        <span>
            @switch (Data.ResultStatus)
            {
                case BattleResultStatus.Win:
                    @Loc[FogResource.Common_Victory]
                    break;
                case BattleResultStatus.Defeat:
                    @Loc[FogResource.Common_Defeat]
                    break;
            }
        </span>
        @if (Data.StatsId.HasValue)
        {
            <img class="stats-button" src="@AssetUrlProvider.GetHohIconUrl("icon_flat_battlestats")"
                 @onclick="@(() => OnBattleStatsClicked.InvokeAsync(Data))"/>
        }

    </div>
    <div class="@TeamsClassname">
        <div class="squads-row">
            @foreach (var unit in Data.PlayerSquads)
            {
                <BattleHeroComponent OnClick="OnHeroClicked" BattleHero="unit"/>
            }
        </div>
        @if(Data.EnemySquads.Count > 0)
        {
            <span class="versus-label">vs</span>
            <div class="squads-row">
                @foreach (var unit in Data.EnemySquads)
                {
                    <BattleHeroComponent OnClick="OnHeroClicked" BattleHero="unit"/>
                }
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public BattleSummaryViewModel Data { get; set; }

    [Parameter]
    public EventCallback<BattleSummaryViewModel> OnBattleStatsClicked { get; set; }
    
    [Parameter]
    public EventCallback<HeroProfileViewModel> OnHeroClicked { get; set; }

    private string StatusContainerClassname => new CssBuilder("header-row")
        .AddClass("victory", Data.ResultStatus == BattleResultStatus.Win)
        .AddClass("defeat", Data.ResultStatus == BattleResultStatus.Defeat)
        .Build();
    
    private string TeamsClassname => new CssBuilder("content-row")
        .AddClass("content-row-two-teams", Data.EnemySquads.Count > 0)
        .Build();

}