@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels
@using Ingweland.Fog.Application.Core.Helpers
@using Microsoft.Extensions.Localization
<div class="fog-container info-container">
    <img class="avatar" src="@Player?.AvatarUrl"/>

    <div class="details">
        <div><span class="label">@Loc[FogResource.StatsHub_NameSearchField_Label]: </span>@Player?.Name
        </div>
        @if (Player?.AllianceId != null)
        {
            <a href="@FogUrlBuilder.PageRoutes.Alliance(Player.AllianceId.Value)" class="anchor-inherited-style">
                <div class="user-select-none" style="cursor: pointer"
                     @onclick="() => OnAllianceClicked.InvokeAsync(Player.AllianceId.Value)">
                    <span class="label">@Loc[FogResource.StatsHub_Player_Alliance]: </span>
                    <span class="preserve-whitespace">"@Player.AllianceName"</span>
                    <span class="material-symbols-outlined">link</span>
                </div>
            </a>
        }
        <div><span class="label">@Loc[FogResource.StatsHub_Player_World]: </span>@Player?.WorldId</div>
        @if (Player?.RankingPoints != null)
        {
            <div>
                <span
                    class="label">@Loc[FogResource.StatsHub_Player_RankingPoints]: </span>@Player?.RankingPoints
            </div>
        }
        @if (Player?.Rank != null)
        {
            <div><span class="label">@Loc[FogResource.StatsHub_Player_Rank]: </span>@Player?.Rank</div>
        }
        <div><span class="label">@Loc[FogResource.Common_Age]: </span>@Player?.Age</div>
    </div>
</div>

@code {

    [Inject]
    private IStringLocalizer<FogResource> Loc { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public PlayerViewModel? Player { get; set; }

    [Parameter]
    public EventCallback<int> OnAllianceClicked { get; set; }

}