@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels
@using Ingweland.Fog.Application.Core.Helpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
<div class="fog-container component-root">
    <div class="title">@Title</div>
    <div class="items-container">
        @foreach (var player in Players)
        {
            <a class="anchor-inherited-style" href="@FogUrlBuilder.PageRoutes.Player(player.Id)">
                <PlayerListItemComponent Player="@player"/>
            </a>
        }
    </div>
    <div class="button-container">
        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                   Href="@ViewAllUrl">@Loc[FogResource.StatsHub_ViewAll]</MudButton>
    </div>

</div>

@code {

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string ViewAllUrl { get; set; }

    [Parameter]
    public required IReadOnlyCollection<PlayerViewModel> Players { get; init; }

}