@using Ingweland.Fog.Application.Client.Web.CommandCenter.Models
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Battle
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Units
@using MudBlazor.Utilities
<div class="@Classname" onclick="@(() => OnClick.InvokeAsync(HeroProfile))">
    <div class="avatar-section">
        <img src="@HeroProfile.PortraitUrl"/>
        <div class="rating">@(new string('★', HeroProfile.StarCount))</div>
    </div>
    <div class="main-label">@HeroProfile.Name</div>
    <div class="icon-label-container" style="background-color: @HeroProfile.UnitColor">
        <div class="icons-container">
            <img class="icon" src="@HeroProfile.UnitClassIconUrl"/>
            <img class="icon" src="@HeroProfile.UnitTypeIconUrl"/>
        </div>
        <div class="icon-label">@HeroProfile.Level</div>
        <div class="icon-label">@HeroProfile.AbilityLevel</div>
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public required HeroProfileBasicViewModel HeroProfile { get; set; }

    [Parameter]
    public EventCallback<HeroProfileBasicViewModel> OnClick { get; set; }

    [Parameter]
    public bool HasShadow { get; set; }
    
    private string Classname => new CssBuilder("component-root")
        .AddClass("component-shadow", HasShadow)
        .Build();
}