@using Ingweland.Fog.Application.Client.Web.StatsHub.ViewModels
<div class="cc-hero-collection-item user-select-none">
    <div class="avatar-section">
        <img src="@PvpUnit.PortraitUrl"/>
        <div class="rating">@(new string('★', PvpUnit.StarCount))</div>
    </div>
    @* <div class="main-label">@PvpUnit.Name</div> *@
    <div class="icon-label-container" style="background-color: @PvpUnit.UnitColor">
        <div class="icons-container">
            <img class="icon" src="@PvpUnit.UnitClassIconUrl"/>
            <img class="icon" src="@PvpUnit.UnitTypeIconUrl"/>
        </div>
        <div class="icon-label">@PvpUnit.Level.Title</div>
        <div class="icon-label">@PvpUnit.AbilityLevel</div>
    </div>
</div>

@code {

    [Parameter]
    public required PvpUnitViewModel PvpUnit { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

}