@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Units
@using Ingweland.Fog.Application.Core.Helpers
@using Ingweland.Fog.WebApp.Client.Components.Elements.Heroes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
<div class="fog-container component-root">
    <div class="title">@Title</div>
    <div class="items-container">
        @foreach (var hero in Heroes)
        {
            <a class="anchor-inherited-style" style="display: flex" href="@FogUrlBuilder.PageRoutes.Hero(hero.Id)">
                <HeroItem Hero="@hero"/>
            </a>
        }
    </div>
    <div class="button-container">
        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                   Href="@FogUrlBuilder.PageRoutes.TOP_HEROES_PATH">@Loc[FogResource.StatsHub_ViewAll]</MudButton>
    </div>

</div>

@code {

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    [EditorRequired]
    public required IReadOnlyCollection<HeroBasicViewModel> Heroes { get; init; }

}