@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner.Stats
@inherits CityViewerComponentBase
<div class="content-wrapper">
    @if (!IsInitialized)
    {
        <div class="spinner-grow loading-indicator" role="status"></div>
    }
    else
    {
        @if (_currentState == ViewerState.CityProperties)
        {
            <div class="main-container">
                <div class="content-container">
                    <CityPropertiesComponent Editable="false"
                                             Data="@CityPlanner.CityMapState.CityPropertiesViewModel"/>
                    @if (CityPlanner.CityMapState.CityWonder != null)
                    {
                        <CityPlannerWonderCostCalculator
                            FromLevel="@CityPlanner.CityMapState.CityWonderLevel"/>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="main-container">
                <div class="map-container">
                    <SKGLViewComponent @ref="SkCanvasViewComponent"
                                       OnPaintSurface="SkCanvasView_OnPaintSurface"
                                       OnPointerUp="@InteractiveCanvasOnPointerUp"
                                       OnPointerDown="@InteractiveCanvasOnPointerDown"
                                       OnWheel="@InteractiveCanvasOnWheel"
                                       OnPointerMove="@InteractiveCanvasOnPointerMove"/>
                </div>
            </div>
        }
    }
</div>

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppBarButtons = @<div class="app-bar-content-container">
                            @if (_currentState == ViewerState.Main)
                            {
                                <MudIconButton Icon="@Icons.Material.Outlined.FitScreen"
                                               OnClick="@FitToScreen"
                                               Color="Color.Inherit"/>
                            }

                            <div class="toolbar-divider"></div>
                            <MudToggleIconButton Icon="@Icons.Material.Outlined.Analytics"
                                                 Color="Color.Inherit"
                                                 Toggled="@(_currentState == ViewerState.CityProperties)"
                                                 ToggledIcon="@Icons.Material.Filled.Analytics"
                                                 ToggledColor="Color.Inherit"
                                                 ToggledChanged="ToggleCityProperties"/>
                        </div>;
    }

}
