@page "/support-us"
@using Ingweland.Fog.Application.Client.Web.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
<PageTitle>@Loc[FogResource.SupportUs_PageTitle]</PageTitle>
<div class="container">
    <header class="header">
        <h4>@Loc[FogResource.SupportUs_PageTitle]</h4>
    </header>

    <div class="fog-container donation-section">
        <p>@Loc[FogResource.SupportUs_Message]</p>
        <a href="https://ko-fi.com/forgeofgames" target="_blank"><img height="36" style="border:0;height:36px;"
                                                                      src="https://storage.ko-fi.com/cdn/kofi6.png?v=6"
                                                                      alt="Buy Me a Coffee at ko-fi.com"/></a>
    </div>

    <section class="fog-container benefits">
        <h4>@Loc[FogResource.SupportUs_Why_Title]</h4>
        <ul>
            <li>@Loc[FogResource.SupportUs_Why_Reason1]</li>
            <li>@Loc[FogResource.SupportUs_Why_Reason2]</li>
            <li>@Loc[FogResource.SupportUs_Why_Reason3]</li>
            <li>@Loc[FogResource.SupportUs_Why_Reason4]</li>
        </ul>
    </section>
</div>