@page "/tools"
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.WebApp.Components.Elements
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FogResource> Loc
<HeadContent>
    <meta name="description"
          content="Tools and calculators for Heroes of History.">
    <meta name="keywords"
          content="Heroes of History tools, Heroes of History calculators, hoh tools">
</HeadContent>
<PageTitle>Heroes of History tools and calculators on Forge of Games</PageTitle>

<div class="root">
    <div class="section-container">
        <h4 class="section-name">@Loc[FogResource.Hoh_City]</h4>
        <div class="items-container">
            <ToolListItemComponent PageLink="tools/building-cost-calculator" Name="@Loc[FogResource.Tools_BuildingCost_Name]"
                                   Description="@Loc[FogResource.Tools_BuildingCost_Description]"
                                   Icon="fa-calculator"/>
            <ToolListItemComponent PageLink="tools/wonder-cost-calculator" Name="@Loc[FogResource.Tools_WonderCost_Name]"
                                   Description="@Loc[FogResource.Tools_WonderCost_Description]"
                                   Icon="fa-calculator"/>
            <ToolListItemComponent PageLink="city-planner" Name="@Loc[FogResource.CityPlanner_Title]"
                                   Description="@Loc[FogResource.CityPlanner_Meta_Description]"
                                   Icon="fa-wrench"/>
        </div>
        <h4 class="section-name">@Loc[FogResource.Hoh_Hero]</h4>
        <div class="items-container">
            <ToolListItemComponent PageLink="command-center" Name="@Loc[FogResource.CommandCenter_Title]"
                                   Description="@Loc[FogResource.CommandCenter_Meta_Description]"
                                   Icon="fa-wrench"/>
            <ToolListItemComponent PageLink="tools/hero-progression-calculator" Name="@Loc[FogResource.Tools_HeroProgressionResourcesCalculator_Name]"
                                   Description="@Loc[FogResource.Tools_HeroProgressionResourcesCalculator_Description]"
                                   Icon="fa-calculator" Obsolete="true"/>
            <ToolListItemComponent PageLink="tools/hero-builder" Name="@Loc[FogResource.Tools_HeroBuilder_Name]"
                                   Description="@Loc[FogResource.Tools_HeroBuilder_Description]"
                                   Icon="fa-wrench" Obsolete="true"/>
        </div>
        <h4 class="section-name">@Loc[FogResource.Hoh_Research]</h4>
        <div class="items-container">
            <ToolListItemComponent PageLink="tools/research-calculator" Name="@Loc[FogResource.Tools_ResearchCalculator_Name]"
                                   Description="@Loc[FogResource.Tools_ResearchCalculator_Description]"
                                   Icon="fa-calculator"/>
        </div>
    </div>
</div>

@code {

}