@page "/treasure-hunt/{difficulty:int}/{stageIndex:int}"
@using Ingweland.Fog.Application.Client.Web.Localization
@using Ingweland.Fog.Application.Client.Web.Services.Hoh.Abstractions
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Battle
@using Ingweland.Fog.WebApp.Components.Elements
@using Microsoft.Extensions.Localization
@inject ITreasureHuntUiService TreasureHuntUiService;
@inject IStringLocalizer<FogResource> Loc
<HeadContent>
    <meta name="description"
          content="Detailed Treasure Hunt campaign info for Heroes of History. Explore encounters, enemy squads, and battle rewards.">
    <meta name="keywords" content="Heroes of History treasure hunt, game encounters, battle rewards, enemy squads">
</HeadContent>
<PageTitle>@_pageTitle</PageTitle>
@if (_stage == null)
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="content-wrapper">
        <!-- Header -->
        <div class="p-2 fog-container header-container">
            <img class="difficulty-icon" src="@_stage.DifficultyIconUrl"/>
            <div class="difficulty-name">@_stage.DifficultyName</div>
            <hr class="w-100 header-divider">
            <div class="stage-name user-select-none">@_stage.Name</div>
        </div>
        <h4 class="text-center user-select-none">@Loc[FogResource.Hoh_Encounters]</h4>
        @foreach (var encounter in _stage.Encounters)
        {
            <TreasureHuntEncounterComponent Encounter="@encounter"/>
        }
    </div>
}


@code {

    [Parameter]
    public int Difficulty { get; set; }

    [Parameter]
    public int StageIndex { get; set; }

    private string _pageTitle = "Treasure Hunt Stage";
    private TreasureHuntStageViewModel? _stage;

    protected override async Task OnInitializedAsync()
    {
        _stage = await TreasureHuntUiService.GetStageAsync(Difficulty, StageIndex);
        if (_stage == null)
        {
            return;
        }

        _pageTitle = $"{_stage.DifficultyName} - {_stage.Name}";
    }

}