@using Ingweland.Fog.Application.Client.Core.Localization
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.City

<div class="fog-container component-root">
    <div class="section-title">@Loc[FogResource.Tools_BuildingCost_Name]</div>
    <div class="main-container">
        <span class="entity-title">@BuildingName</span>
        @* current level selector *@
        @if (_fromLevels != null)
        {
            <MudSelect Label="@Loc[FogResource.Tools_CurrentLevel]"
                       Value="@_fromLevel" T="BuildingLevelSpecs" ValueChanged="FromLevelOnValueChanged"
                       Variant="Variant.Outlined" Dense="true">

                @foreach (var levelSpecs in _fromLevels)
                {
                    <BuildingLevelSelectItemComponent LevelSpecs="levelSpecs" Dense="true"/>
                }
            </MudSelect>
        }

        @* target level selector *@
        @if (_toLevels != null)
        {
            <MudSelect Label="@Loc[FogResource.Tools_TargetLevel]" Value="@_toLevel" T="BuildingLevelSpecs" 
                       ValueChanged="ToLevelOnValueChanged" Variant="Variant.Outlined" Immediate="true" Strict="true">

                @foreach (var levelSpecs in _toLevels)
                {
                    <BuildingLevelSelectItemComponent LevelSpecs="levelSpecs" Dense="true"/>
                }
            </MudSelect>
        }

        @if (_costs != null)
        {
            <BuildingMultilevelCostComponent Costs="_costs" Dense="true"/>
        }
    </div>
</div>