@using Ingweland.Fog.Models.Hoh.Enums
@using Ingweland.Fog.WebApp.Client.Components.Elements.CityPlanner.Stats
@using Position = MudBlazor.Position

<div class="content-wrapper" @onkeyup="OnKeyUp" tabindex="0">
    @if (!_isInitialized)
    {
        <div class="spinner-grow gid-loading-indicator" role="status"></div>
    }
    else
    {
        <MudToolBar Dense="true" Class="city-planner-toolbar user-select-none" Gutters="false">
            <MudToggleIconButton Icon="material-symbols-outlined/left_panel_open"
                                 Color="Color.Inherit" Toggled="@_leftPanelIsVisible"
                                 ToggledIcon="material-symbols-outlined/left_panel_close"
                                 ToggledColor="Color.Inherit"
                                 ToggledChanged="ToggleLeftPanel"/>
            <div style="width: 32px; visibility: hidden"></div>
            <MudIconButton Icon="@Icons.Material.Outlined.Save" OnClick="@Save" Color="Color.Inherit"/>
            <div class="toolbar-divider"></div>
            <div>
                <MudIconButton Icon="@Icons.Material.Outlined.ZoomOut" OnClick="@ZoomOut" Color="Color.Inherit"/>
                <MudIconButton Icon="@Icons.Material.Outlined.ZoomIn" OnClick="@ZoomIn" Color="Color.Inherit"/>
                <MudIconButton Icon="@Icons.Material.Outlined.FitScreen" OnClick="@FitToScreen" Color="Color.Inherit"/>
            </div>
            <div class="toolbar-divider"></div>
            <div>
                <MudIconButton Icon="@Icons.Material.Outlined.Cached" OnClick="@Rotate" Color="Color.Inherit"
                               Disabled="@(CityPlanner.CityMapState.SelectedCityMapEntity is not {IsMovable: true})"/>
                <MudIconButton Icon="@Icons.Material.Outlined.Delete" OnClick="@Delete" Color="Color.Inherit"
                               Disabled="@(CityPlanner.CityMapState.SelectedCityMapEntity is not {IsMovable: true})"/>
                <MudIconButton Icon="@Icons.Material.Outlined.SelectAll" OnClick="@SelectGroup" Color="Color.Inherit"
                               Disabled="@(CityPlanner.CityMapState.SelectedCityMapEntity == null)"/>
            </div>
            <div class="toolbar-divider"></div>
            <div>
                <MudToggleIconButton Icon="material-symbols-outlined/shelves" ToggledColor="Color.Error"
                                     @bind-Toggled="_inventoryIsActive" Color="Color.Inherit"/>
                <MudIconButton
                    Icon="@(CityPlanner.CityMapState.SelectedCityMapEntities != null ? "material-symbols-outlined/stat_minus_2" : "material-symbols-outlined/stat_minus_1")"
                    Color="Color.Inherit"
                    OnClick="@MoveToInventory"
                    Disabled="@(!_inventoryIsActive || (CityPlanner.CityMapState.SelectedCityMapEntity == null && CityPlanner.CityMapState.SelectedCityMapEntities == null))"/>
                <MudIconButton Icon="material-symbols-outlined/stat_minus_3" Color="Color.Inherit"
                               OnClick="@MoveAllToInventory"
                               Disabled="@(!_inventoryIsActive)"/>
                <MudIconButton Icon="@Icons.Material.Outlined.DeleteSweep" Color="Color.Inherit"
                               OnClick="@PurgeInventory"
                               Disabled="@(!_inventoryIsActive || CityPlanner.CityMapState.InventoryBuildings.Count == 0)"/>
            </div>
            <div class="toolbar-divider"></div>
            <MudIconButton Icon="@Icons.Material.Outlined.Image" OnClick="@OnSaveImage" Color="Color.Inherit"/>
            <MudSpacer/>
            <MudToggleIconButton Icon="material-symbols-outlined/right_panel_open"
                                 Color="Color.Inherit" Toggled="@_rightPanelIsVisible"
                                 ToggledIcon="material-symbols-outlined/right_panel_close"
                                 ToggledColor="Color.Inherit"
                                 ToggledChanged="ToggleRightPanel"/>
        </MudToolBar>
        @if (_leftPanelIsVisible)
        {
            <div class="left-container">
                <BuildingSelectorComponent ItemClicked="BuildingSelectorOnItemClicked" IsInventory="@_inventoryIsActive"
                                           Items="@CityPlanner?.CityMapState.BuildingSelectorItems"/>
            </div>
        }

        <div class="main-container">
            <SKGLViewComponent @ref="_skComponent"
                               OnPaintSurface="SkCanvasView_OnPaintSurface"
                               OnPointerUp="@InteractiveCanvasOnPointerUp"
                               OnPointerDown="@InteractiveCanvasOnPointerDown"
                               OnWheel="@InteractiveCanvasOnWheel"
                               OnPointerMove="@InteractiveCanvasOnPointerMove"/>
        </div>
        @if (_rightPanelIsVisible)
        {
            <MudTabs @onkeydown:stopPropagation="true" @onkeyup:stopPropagation="true" Class="right-container"
                     TabHeaderClass="city-planner-tabs-header"
                     SliderColor="Color.Error" MinimumTabWidth="28px" Position="Position.Right" Outlined="false">
                <MudTabPanel Class="fog-icon-light" Icon="@Icons.Material.Outlined.Analytics">
                    <div class="right-content-container">
                        @if (CityPlanner!.CityMapState.SelectedCityMapEntity != null)
                        {
                            <CityMapEntityPropertiesComponent
                                Building="@CityPlanner.CityMapState.SelectedEntityViewModel"/>
                        }
                        @if (CityPlanner!.CityMapState.SelectedCityMapBuildingGroupViewModel != null)
                        {
                            <CityMapBuildingGroupPropertiesComponent
                                BuildingGroup="@CityPlanner.CityMapState.SelectedCityMapBuildingGroupViewModel"/>
                        }
                        @if (CityPlanner.CityMapState.CityPropertiesViewModel != null)
                        {
                            <CityPropertiesComponent Data="@CityPlanner.CityMapState.CityPropertiesViewModel"/>
                        }
                    </div>

                </MudTabPanel>
                <MudTabPanel Class="fog-icon-light" Icon="@Icons.Material.Outlined.ViewList">
                    <div class="right-content-container">
                        <CityPlannerSnapshotsComponent OnCreate="@CreateSnapshot" OnDelete="@DeleteSnapshot"
                                                       OnLoad="@LoadSnapshot" OnCompare="@CompareSnapshots"
                                                       Snapshots="@CityPlanner!.CityMapState.Snapshots"/>
                    </div>
                </MudTabPanel>
                <MudTabPanel Class="fog-icon-light" Icon="fas fa-calculator">
                    <div class="right-content-container">
                        <CityPlannerBuildingCostCalculator
                            CityId="@CityPlanner!.CityMapState.InGameCityId"
                            BuildingGroup="@(CityPlanner!.CityMapState.SelectedCityMapEntity?.BuildingGroup ?? BuildingGroup.Undefined)"
                            FromLevel="@(CityPlanner!.CityMapState.SelectedCityMapEntity?.Level ?? 0)"
                            BuildingName="@CityPlanner!.CityMapState.SelectedCityMapEntity?.Name"/>
                        @if (CityPlanner.CityMapState.CityWonder != null)
                        {
                            <CityPlannerWonderCostCalculator FromLevel="@CityPlanner.CityMapState.CityWonderLevel"/>
                        }
                    </div>
                </MudTabPanel>
                <MudTabPanel Class="fog-icon-light" Icon="@Icons.Material.Outlined.Settings">
                    <div class="right-content-container">
                        <CityPlannerSettingsComponent/>
                        <CityPlannerActionsComponent OnShare="@ShareCity"/>
                    </div>
                </MudTabPanel>
            </MudTabs>
        }
    }

</div>
