@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Units
<div class="component-root">
    <div class="header-container">
        <img src="@Ability.IconUrl"/>
        <div>
            <div class="ability-name">@Ability.Name</div>
            <div class="ability-level-title">@Ability.Level.Title</div>
        </div>
    </div>

    <div class="ability-level-description">@((MarkupString) Ability.Level.Description)</div>

    <AbilityChargeComponent AbilityInitialChargePercentage="@Ability.InitialChargePercentage"
                            AbilityChargeTime="@Ability.ChargeTime"
                            AbilityInitialChargeTime="@Ability.InitialChargeTime"></AbilityChargeComponent>
</div>

@code {

    [Parameter]
    public required HeroAbilityViewModel Ability { get; set; }

}