@using Ingweland.Fog.Application.Client.Core.Localization
<ExpandableContainer Title="@Loc[FogResource.Unit_RelicInsights_Title]"
                     IsLoading="@_isLoading" HasHorizontalPadding="false"
                     TitleStyle="color: var(--fog-text-on-container-color);"
                     ExpandedChanged="@OnExpanded">
    <div class="content-container">
        @if (_relicInsights != null)
        {
            @foreach (var relicItem in _relicInsights)
            {
                <div class="level-range-container">
                    <div class="level-range-container-header-container user-select-none">
                        @($"{Loc[FogResource.Hoh_Lvl]} {relicItem.LevelRange}")
                    </div>
                    <div class="items-container">
                        @foreach (var item in relicItem.Relics)
                        {
                            <HorizontalIconWithLabelComponent StatItem="@item"/>
                        }
                    </div>
                </div>
            }
        }
    </div>
</ExpandableContainer>
