@using Ingweland.Fog.Application.Client.Web.Constants
@using Ingweland.Fog.Application.Client.Web.Services.Abstractions
@using Ingweland.Fog.Application.Core.Constants
@using MudBlazor.Utilities
@inject IAdSenseService AdSenseService
@inject ILogger<AdSenseComponent> Logger
@inject IPersistenceService PersistenceService

@if (_canShowAds)
{
    <div id="@_adContainerId" @key="_adContainerId" class="@WrapperClass" style="@Style">
        <ins class="adsbygoogle @AdClass"
             style="display:block; @AdStyle"
             data-ad-client="@AdClient"
             data-ad-format="@AdFormat"
             data-ad-slot="@AdSlot"
             data-ad-layout="@AdLayout"
             data-ad-layout-key="@AdLayoutKey"
             ></ins>
    </div>
}

@code {

    [Parameter]
    [EditorRequired]
    public required string AdSlot { get; set; } = string.Empty;

    [Parameter]
    public string? AdFormat { get; set; }
    
    [Parameter]
    public string? AdLayout { get; set; } 
    
    [Parameter]
    public string? AdLayoutKey { get; set; }
    
    [Parameter]
    public string AdClass { get; set; } = string.Empty;

    [Parameter]
    public string AdClient { get; set; } = FogConstants.AD_SENSE_PUBLISHER_ID;

    [Parameter]
    public string CssClass { get; set; } = string.Empty;

    [Parameter]
    public string Style { get; set; } = string.Empty;
    
    [Parameter]
    public string AdStyle { get; set; } = string.Empty;

    private readonly string _adContainerId = Guid.NewGuid().ToString("N");
    private bool _canShowAds;
    private bool _rendered;
    private bool _isInitialized;

    private string WrapperClass =>
        new CssBuilder("component-root")
            .AddClass(CssClass)
            .Build();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (!OperatingSystem.IsBrowser())
        {
            return;
        }

        var firstVisitAt = await PersistenceService.GetItemAsync<DateTime?>(PersistenceKeys.FIRST_VISIT_AT);
        _canShowAds = firstVisitAt < DateTime.UtcNow.AddDays(FogConstants.DAYS_BEFORE_SHOWING_ADS * -1);
        await InitializeAd();
    }

    private async ValueTask InitializeAd()
    {
        if (_isInitialized || !_rendered || !_canShowAds)
        {
            return;
        }

        try
        {
            await AdSenseService.InitializeAd(_adContainerId);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error initializing AdSense: {ExMessage}", ex.Message);
        }

        _isInitialized = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(100);
            _rendered = true;
            await InitializeAd();
        }
    }

}