@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh
@using Ingweland.Fog.WebApp.Client.Extensions
@using MudBlazor.Utilities
@using Size = MudBlazor.Size
<div class="@ValueContainerClass">
    <img src="@Item.IconUrl" class="@ValueIconClass">
    <span class="@LabelClass">@Item.Label</span>
    <div class="divider"></div>
    <span class="@LabelClass">@Item.Label2</span>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public required IconLabelsItemViewModel Item { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    private string ValueContainerClass => new CssBuilder("value-container")
        .AddClass($"value-container-size-{Size.GetDescription()}")
        .Build();

    private string ValueIconClass => new CssBuilder("value-icon")
        .AddClass($"value-icon-size-{Size.GetDescription()}")
        .Build();

    private string LabelClass => new CssBuilder("value-label")
        .AddClass($"value-label-size-{Size.GetDescription()}")
        .Build();

}