@using Ingweland.Fog.Application.Client.Web.Providers.Interfaces
@using Ingweland.Fog.Application.Client.Web.ViewModels.Hoh.Battle
@inject IAssetUrlProvider AssetUrlProvider;
<div class="d-flex flex-column w-100 gap-2 p-3 fog-container mb-3">
    <div class="d-flex align-items-start">
        <div class="encounter-number-container">
            <span class="encounter-number user-select-none">
                @Encounter.Title
            </span>
            <img alt="Encounter" src="@AssetUrlProvider.GetHohImageUrl("icon_ath_encounter")">
        </div>
    </div>
    @foreach (var wave in Encounter.Waves)
    {
        <div class="d-flex align-items-center title-container">
            <span class="title">@wave.Title |</span>
            <img class="power-icon" src="@AssetUrlProvider.GetHohIconUrl("icon_hero_power")"/>
            <span class="power-label">@wave.Power</span>
        </div>
        <div class="row g-2 m-0 mb-2">
            @foreach (var squad in IsExpanded ? wave.Squads : wave.AggregatedSquads)
            {
                <div class="col-12 col-lg-6 col-xxl-4">
                    <CampaignSquadComponent Squad="@squad"></CampaignSquadComponent>
                </div>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public TreasureHuntEncounterViewModel Encounter { get; set; }

    [Parameter]
    public bool IsExpanded { get; set; }

}